<h1>Добавление и корректировка права пользователя</h1>
<form action="/users/right/update" method="POST">
    <table class="form">
        <tr>
            <td><label>Id:</label></td>
            <td><input  id="id" name="id" readonly value="{{id}}" >
            <input  id="old_id" name="old_id"  readonly value="{{id}}" > </td>
        </tr>
        <tr>
            <td><label>Login:</label></td>
            <td><input id="login" type="text" name="login" value={{login}} ></td>
        </tr>
        <tr>
            <td><label>Название права:</label></td>
            <td><input id="right_name" type="text" name="right_name" value={{right_name}} ></td>
        </tr>
        <tr>
            <td><label>Адрес (URL):</label></td>
            <td><input id="url" type="text" name="url" value={{url}} >
            <input id="old_url" type="text" name="old_url" hidden readonly value={{url}} ></td>
        </tr>
        <tr>
            <td><label>Разделитель пунктов меню:</label></td>
            <td><input id="menu_delimiter" type="text" name="menu_delimiter" value={{menu_delimiter}} ></td>
        </tr>
        <tr>
            <td><label>Порядковый номер в меню:</label></td>
            <td><input id="menu_order" type="number" name="menu_order" value={{menu_order}} ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" >Сохранить</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
                <div id="erro" ></div>
            </td>
        </tr>
    </table>
</form>

<script>

</script>