<h1>Права доступа пользователей</h1>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp xclass="list">
<thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric" xclass="list"><b>Пользователь</b></th>
        <th class="mdl-data-table__cell--non-numeric" xclass="list"><b>Право</b></th>
        <th class="mdl-data-table__cell--non-numeric" xclass="list"><b>Страница</b></th>
        <th class="mdl-data-table__cell--non-numeric" xclass="list"><b>Разделитель меню</b></th>
        <th class="mdl-data-table__cell--non-numeric" class="list"><b>Номер в меню</b></th>
        <th class="mdl-data-table__cell--non-numeric" class="list">Кнопки</th>
    </tr>
</thead>
    {{#each data}}
        <tr>
            <td class="mdl-data-table__cell--non-numeric" xclass="list">{{login}}</td>
            <td class="mdl-data-table__cell--non-numeric" xclass="list">{{right_name}}</td>
            <td class="mdl-data-table__cell--non-numeric" xclass="list">{{url}}</td>
            <td class="mdl-data-table__cell--non-numeric" xclass="list">{{menu_delimiter}}</td>
            <td class="mdl-data-table__cell--numeric" class="list">{{menu_order}}</td>
            <td class="mdl-data-table__cell--non-numeric" class="list">
              <button type="button" onclick="edit_right({{id}},'{{right_name}}')">Изменить</button>
              <button type="button" onclick="delete_right({{id}},'{{login}}','{{right_name}}')">Удалить</button>
<!--            <td class="list"><a href="/users/right/delete/{{id}}/{{right_name}}" title="Удалить" > X </a>
              <td class="list"><a href="/users/rights/addnew" title="Добавить" > + </a></td>-->
            </td>
        </tr>
    {{/each}}
</table>
<a href="/users/rights/addnew" title="Добавить" > Добавить </a>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

function delete_right(id, login, rn) {

    let result = confirm("Удалить, "+login+","+rn+"?");
    if (result) {
        location.href = '/users/right/delete/'+id+'/'+rn;
//        window.open('/users/right/delete/'+id+'/'+rn);
    }
    else
      erro("Оставляю "+login+", "+rn+"!");
}

function edit_right(id, rn) {
    location.href = '/users/rights/'+id+'/'+rn;
}


</script>
