<h1>Права доступа пользователей</h1>
<table class="list">
    <tr>
        <td class="list"><b>Пользователь</b></td>
        <td class="list"><b>Право</b></td>
        <td class="list"><b>Страница</b></td>
        <td class="list"><b>Разделитель меню</b></td>
        <td class="list"><b>Номер в меню</b></td>
        <td class="list">Кнопки</td>
    </tr>
    {{#each data}}
        <tr>
            <td class="list">{{login}}</td>
            <td class="list">{{right_name}}</td>
            <td class="list">{{url}}</td>
            <td class="list">{{menu_delimiter}}</td>
            <td class="list">{{menu_order}}</td>
            <td class="list">
              <button type="button" onclick="edit_right({{id}},'{{right_name}}')">Изменить</button>
              <button type="button" onclick="delete_right({{id}},'{{login}}','{{right_name}}')">Удалить</button></td>
<!--            <td class="list"><a href="/users/right/delete/{{id}}/{{right_name}}" title="Удалить" > X </a>
              <td class="list"><a href="/users/rights/addnew" title="Добавить" > + </a></td>-->
            </td>
        </tr>
    {{/each}}
</table>
<a href="/users/rights/addnew" title="Добавить" > Добавить </a>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

function delete_right(id, login, rn) {

    result = confirm("Удалить, "+login+","+rn+"?");
    if (result) {
        erro("Удалено "+login+", "+rn+"!");
        window.open('/users/right/delete/'+id+'/'+rn);
    }
    else
      erro("Оставляю "+login+", "+rn+"!");
}

function edit_right(id, rn) {
    window.open('/users/rights/'+id+'/'+rn);
}


</script>
