<h1>Отчёт. План производства ЖБИ.</h1>
<div>

  <p>
    Вариант 2.<br>
  </p>
    <p>
        Демо, когда когда в одном пролёте формуется ОДИН вид изделий и работа в 2 смены по 11 часов.<br>
    </p>
</div>

План:   <b>{{data.plan_name}}</b><br>
Пролёт: <b>{{data.sd_name}}</b><br>
<br>
<div>
    <table class="list">
        <tr>
            <td class="list"><b>ЖБИ</b></td>
            <td class="list"><b>{{data.fc_name}}</b></td>
        </tr>
        <tr>
            <td class="list"><b>Количество ЖБИ:</b> Плановое / Можем сделать / Максимальное</td>
            <td class="list">{{data.fc_num}} / {{data.month_power}} / {{data.month_power_max}}</td>
        </tr>
        <tr>
            <td class="list"><b>Кол-во дней:</b> Плановое / Расчётное (без учёта рем.дней) / Календарных дней</td>
            <td class="list">{{data.days_num}} / {{data.days_num_clc}} / {{data.days_num_cal}}</td>
        </tr>
        <tr>
            <td class="list"><b>Кол-во человек в смене: </b> Расчётное / Фактическое / Максимальное <br> =
                Итого трудоёмкость / (11 * 2 * Кол-во рабочих дней)</td>
            <td class="list">{{data.fact_workers_num}}({{data.need_workers_num}}) / {{data.workers_num}} / {{data.max_workers_num}}</td>
        </tr>
        <tr>
            <td class="list"><b>Количество форм:</b> Фактическое / Требуемое / Максимальное </td>
            <td class="list">{{data.form_num}} / {{data.need_form_num}}({{data.need_form_num_clc}}) / {{data.form_num_max}} </td>
        </tr>
        <tr>
            <td class="list"><b></b></td>
        </tr>
        <tr>
            <td class="list"><b>Мощность за сутки: </b>  <br> = Кол-во форм * КОб
                (сколько можем изготовить на данном оборудовании)</td>
            <td class="list">{{data.day_power}} / {{data.day_power_max}}</td>
        </tr>
        <tr>
            <td class="list"><b>Мощность за месяц:</b> Текущая / Максимальная (с учётом рем. дней) (<b>{{data.days_rem}}</b>)</td>
            <td class="list">{{data.month_power}} / {{data.month_power_max}}</td>
        </tr>
        <tr>
            <td class="list"><b></b></td>
        </tr>
        <tr>
            <td class="list"><b>Эффективность</b> = (Плановое кол-во / Максимальная мощность за месяц) * 100%</td>
            <td class="list">{{data.efficiency}}%</td>
        </tr>
        <tr>
            <td class="list"><b></b></td>
        </tr>
        <tr>
            <td class="list">Трудоёмкость изготовления 1 шт.</td>
            <td class="list">{{data.trk}}</td>
        </tr>
        <tr>
            <td class="list">Итого трудоёмкость на план(человеко-часов)</td>
            <td class="list">{{data.sum_trk}}</td>
        </tr>
        <tr>
            <td class="list">Количество ЖБИ в одной форме</td>
            <td class="list">{{data.ffc_num}}</td>
        </tr>
        <tr>
            <td class="list">Коэф-т оборачиваемости</td>
            <td class="list">{{data.kob}}</td>
        </tr>
        <tr>

        </tr>
    </table>
</div>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>


</script>