<h1>17-ПТ-32.61</h1>
<div><p>Расчёт кол-ва форм 17-ПТ-32.61 в пролёте 34.<br>
</p></div>
<div>
<form name="formparts"  action="/plan/save_sd34_form_part" method="POST">
    <table id="table" class="list" >
        <tr>
            <td class="list"><b>Часть</b></td>
            <td class="list"><b>Кол-во на 1 форму</b></td>
            <td class="list"><b>Кол-во в наличии</b></td>
            <td class="list"><b>Расчётное кол-во форм</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr>
                <td class="list">{{part_name}}</td>
                <td class="list">{{amount}}</td>
                <td class="list" id="inp">
                    <input id="part_all" type="number" name="part_all" value="{{part_num_all}}" >
                </td>
                <td class="list" >{{form_num}}</td>
                <td class="list" id="btn">
                    <button type="button" onclick="save_data({{sd_rf}}, {{part_rf}}, this)">Сохранить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</form>
</div>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

Итого форм: {{data.form_num_min}}
<button type="button" onclick="save_form_num({{data.sd_id}}, {{data.form_id}}, {{data.form_num_min}} )">Сохранить</button><br>

<script>

    let check_answer = function (reply)
    {
        location.reload(true);
//        info(reply);
    }
    function save_data(sd_rf, part_rf, el)
    {
        r = el.parentNode.parentNode;
        v = r.cells[2].children[0].value;

        doQuery ("/plan/save_sd34_form_part", check_answer,
                "&sd_rf=" + encodeURIComponent(sd_rf)+
                "&part_rf=" + encodeURIComponent(part_rf)+
                "&part_num=" + encodeURIComponent(v)
        );
    }

    function save_form_num(sd_rf, form_rf, form_num)
    {
        doQuery ("/plan/save_sd34_form_num", check_answer,
                "&sd_rf=" + encodeURIComponent(sd_rf)+
                "&form_rf=" + encodeURIComponent(form_rf)+
                "&form_num=" + encodeURIComponent(form_num)
        );
    }

    function info(str)
    {
        document.getElementById("hint").innerHTML=str;
    }


</script>