<h1>Пролёт-Форма-Количество</h1>
<p>Количество форм (оснасток) в пролётах.<br></p>
<form action="/pro/sd_form/update" method="POST" >
    <table class="form">
        <tr>
            <td><label>Пролёт:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{sd_name}}"></select>
                <input id="sd_rf" type="text" name="sd_rf" readonly value={{sd_rf}} hidden >
                <input id="old_sd_rf" type="text" name="old_sd_rf" readonly value={{sd_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Форма (оснастка):</label></td>
            <td>
                <select width="100%" size="1" name='form_name' id='form_name' value="{{form_name}}"></select>
                <input id="old_form_rf" type="text" name="old_form_rf" readonly value={{form_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Количество форм:</label></td>
            <td><input id="form_num" type="text" name="form_num" value={{form_num}} ></td>
        </tr>
        <tr>
            <td><label>Количество форм максимальное:</label></td>
            <td><input id="form_num_max" type="text" name="form_num_max" value={{form_num_max}} ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" >Сохранить</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
                <div id="erro" ></div>
            </td>
        </tr>
    </table>
</form>

<script>

    // Изготовить список пролётов для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{sd_name}}';
    }
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }

    // Изготовить список форм для выбора
    var set_form_names = function (reply)
    {
        document.getElementById("form_name").innerHTML = reply;
        document.getElementById("form_name").value = '{{form_name}}';
    }
    function get_form_names()
    {
        doQuery ("/common/get_spr_names/ФормыЖБИ", set_form_names);
    }
    get_sd_names();
    get_form_names();

</script>