<h1>Пролёт-Формы</h1>
<div><p>Количество форм (оснасток) в пролётах.<br>
</p></div>
<div>
    <table class="list">
        <tr>
            <td class="list"><b>Пролёт</b></td>
            <td class="list"><b>Форма (оснастка)</b></td>
            <td class="list"><b>Количество форм</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr>
                <td class="list">{{sd_name}}</td>
                <td class="list">{{form_name}}</td>
                <td class="list">{{form_num}}</td>
                <td class="list">
                    <button type="button" onclick="edit_sd_form({{sd_rf}}, {{form_rf}} )">Изменить</button>
                    <button type="button" onclick="delete_sd_form({{sd_rf}},{{form_rf}},'{{sd_name}}','{{form_name}}')">Удалить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<a href="/pro/sd_form_addnew" title="Добавить" > Добавить </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

    function delete_sd_form(sd_rf, form_rf, sd_name, form_name) {

        var result = confirm("Удалить "+sd_name+'/'+form_name+ " ?");
        if (result) {
            location.href = '/pro/sd_form_delete/'+sd_rf+'/'+form_rf;
        }
        else
            erro("Оставляю "+sd_name+'/'+form_name+" !");
    }

    function edit_sd_form(sd_rf, form_rf) {
        location.href = '/pro/sd_form/'+sd_rf+'/'+form_rf;
    }

</script>