<h1>Пролёт-ЖБИ-Трудоёмкость</h1>
<div><p>В каком пролёте какие ЖБИ делают и какова трудоёмкость изготовления в минутах.<br>
</p></div>
<div>
    <table class="list">
        <tr>
            <td class="list"><b>Пролёт</b></td>
            <td class="list"><b>ЖБИ (железобетонное изделие)</b></td>
            <td class="list"><b>Трудоёмкость (человеко-часов)</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr>
                <td class="list">{{sd_name}}</td>
                <td class="list">{{fc_name}}</td>
                <td class="list">{{trk}}</td>
                <td class="list">
                    <button type="button" onclick="edit_sd_fc({{sd_rf}}, {{fc_rf}} )">Изменить</button>
                    <button type="button" onclick="delete_sd_fc({{sd_rf}},{{fc_rf}},'{{sd_name}}','{{fc_name}}')">Удалить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<a href="/pro/sd_fc_addnew" title="Добавить" > Добавить </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

    function delete_sd_fc(sd_rf, fc_rf, sd_name, fc_name) {

        var result = confirm("Удалить "+sd_name+'/'+fc_name+ " ?");
        if (result) {
            location.href = '/pro/sd_fc_delete/'+sd_rf+'/'+fc_rf;
        }
        else
            erro("Оставляю "+sd_name+'/'+fc_name+" !");
    }

    function edit_sd_fc(sd_rf, fc_rf) {
        location.href = '/pro/sd_fc/'+sd_rf+'/'+fc_rf;
    }

</script>