<form action="/pro/sd_fc/update" method="POST" >
    <table class="form">
        <tr>
            <td><label>Пролёт:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{sd_name}}"></select>
                <input id="sd_rf" type="text" name="sd_rf" readonly value={{sd_rf}} hidden >
                <input id="old_sd_rf" type="text" name="old_sd_rf" readonly value={{sd_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>ЖБИ:</label></td>
            <td>
                <select width="100%" size="1" name='fc_name' id='fc_name' value="{{fc_name}}"></select>
                <input id="old_fc_rf" type="text" name="old_fc_rf" readonly value={{fc_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Трудоёмкость (часов):</label></td>
            <td><input id="trk" type="text"  size="7" step="0.01" name="trk" value={{trk}} ></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" >Сохранить</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="hint" ></div>
                <div id="erro" ></div>
            </td>
        </tr>
    </table>
</form>

<script>

    // Изготовить список подразделений для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{sd_name}}';
    }
    function get_sd_names()
    {
        doQuery ("/pro/get_prolet_names", set_sd_names);
    }

    // Изготовить список ЖБИ для выбора
    var set_fc_names = function (reply)
    {
        document.getElementById("fc_name").innerHTML = reply;
        document.getElementById("fc_name").value = '{{fc_name}}';
    }
    function get_fc_names()
    {
        doQuery ("/pro/get_fc_names", set_fc_names);
    }
    get_sd_names();
    get_fc_names();

</script>