<a href="/plan2/armprihod" title="" > <-- К списку документов  </a>
<br>
<br>
<form method="POST" >
<div>
    <table class="form">
        <tr>
            <td><label>Код документа:</label></td>
            <td><input id="doc_id" type="text" name="doc_id" readonly value="{{data.doc_id}}"  >{{doc_id}}
                <input id="old_doc_id" type="text" name="old_doc_id" readonly value="{{data.doc_id}}" hidden >
            </td>
        </tr>
        <tr>
            <td><label>Дата и время ГГГГ-ММ-ДД ЧЧ:ММ</label></td>
            <td><input id="dt" type="text" name="dt" value="{{data.dt}}" ></td>
        </tr>
        <tr>
            <td><label>Подразделение:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{data.sd_name}}"></select></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button id="save_head_btn" type="button" onclick="save_head()" disabled>Сохранить шапку</button>
                <button type="button" onclick="get_doc_id()" hidden >ИД документа</button>
            </td>
        </tr>
    </table>
</div>

<div>
    <table id="doc_rows" class="list">
        <tr>
            <td class="list"><b>Арматура</b></td>
            <td class="list"><b>Количество</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr onclick="save_row_btn = this.cells[2].childNodes[2]">
            <td class="input" contenteditable onfocus="list_focus(this)" ondblclick="select_arm(this)" title="Двойной клик для выбора значения из списка">{{arm_name}}</td>
            <td class="input right" contenteditable onfocus="num_focus(this)" >{{arm_num}}</td>
            <td><button type="button" onclick="delete_row(this)" >Удалить строку</button>
                <button type="button" onclick="save_row(this)" disabled >Сохранить строку</button></td>
            <td class="input"  hidden ondblclick="select_arm(this)">{{arm_name}}</td>

            </tr>
        {{/each}}
    </table>
    <button type="button" onclick="add_row()">Добавить строку</button>
</div>
</form>
<br>
<br><br>
<select class='xy td' size="10" name="arm_name" title="" id="arm_name" ondblclick="setval(this)" ></select>
<br>
<br>
<div id="hint" ></div>
<div id="erro" ></div>


<script>
    var gcell; // текущая редактируемая ячейка таблицы
    var si = document.getElementById("arm_name"); // Список для выбора изделий (арматуры)
    var tb = document.getElementById("doc_rows"); // Табличная часть документа

    var save_head_btn = document.getElementById("save_head_btn"); // Кнопки сохранения данных
    var save_row_btn;

    doc_id = document.getElementById("doc_id");
    // Поля шапки документа, изменения которых активируют кнопку сохранения шапки
    var sd_name = document.getElementById("sd_name"); //
    var dt = document.getElementById("dt"); //
    dt.onchange = sd_name.onchange = function () { save_head_btn.disabled = false; };

    // Скрыть список выбора арматуры при отмене и потере фокуса
    si.onabort = function () { this.style.visibility = 'hidden'; };
    si.onblur = function () { this.style.visibility = 'hidden'; };

    // Выбор из списка арматуры, обработка нажатых клавиш
    si.onkeyup = onk;
    function onk(f) {
        if (f.keyCode == 13) setval(this);       // здесь this - это список выбора аматуры (select)
      else if (f.keyCode == 27) {this.onblur(); gcell.focus(); } // Перевод фокуса со списка на редактируемую ячейку
    }

    // При получении фокуса на ячейку с выбором из списка
    function list_focus(t) {
        t.onkeyup = onk_list;
        t.onkeydown = onkdn_list;
    }
    function onk_list(f) {
        if (f.keyCode == 13) select_arm(this);       // здесь this - это редактируемая ячейка (gcell)
    }
    function onkdn_list(f) {
        if (f.keyCode != 9) return false;       // здесь this - это редактируемая ячейка (gcell)
    }
    // При получении фокуса на ячейку которую редактируем вручную
    function num_focus(t)
    {
        select_tc_text(t);             // Выделяем текст в ячейке
        save_row_btn.disabled = false; // Активируем кнопку сохранения строки

        // При потере фокуса снимаем выделение
        t.onblur = function () { window.getSelection().removeAllRanges(); };
    }

    // Обработка (сохранение) значения выбранного из списка
    function setval(t)
    {
        gcell.innerHTML = t.value;     // Записываем выбранное значение в текущую ячейку таблицы
        si.style.visibility = 'hidden';// Прячем список

        save_row_btn.disabled = false; // Активируем кнопку сохранения строки

        gcell.focus();                 // Остаёмся на измененной ячейке
//        gcell.parentNode.cell(1).focus(); // или могли бы перейти на следующую
    }


    // Добавить новую пустую строку
    function add_row()
    {
        tb = document.getElementById("doc_rows");

        // Здесь должно быть точно так же как в сверху в html, только здесь нули вместо значений
        tb.innerHTML += '<tr onclick="save_row_btn = this.cells[2].childNodes[2]"> \
                       <td class="input" contenteditable onfocus="list_focus(this)" ondblclick="select_arm(this)" title="Двойной клик для выбора значения из списка"></td> \
                       <td class="input right" contenteditable onfocus="num_focus(this)">0</td> \
                       <td><button type="button" onclick="delete_row(this)">Удалить строку</button> \
                           <button type="button" onclick="save_row(this)">Сохранить строку</button></td> \
                        <td class="input" hidden ondblclick="select_arm(this)"></td>  \
                </tr> ';

        tb.rows[tb.rows.length-1].cells[0].focus(); // Встаем на первую ячейку новой строки
    }

    // Открыть список для выбора значения
    function select_arm(t)
    {
        si.style.visibility = 'visible';    // Делаем список видимым
        si.focus();                         // Переходим в список

        gcell = t;                          // Запоминаем изменяемую текущую ячейку
        si.value = gcell.innerHTML;         // Перемещаемся в списке к значению изменяемой ячейки

        c = getCoords(gcell);               // Находим координаты изменяемой ячейки
        si.style.top = c.top + 5 + 'px';    // Накладываем список на ячейку
        si.style.left = c.left + 5 + 'px';
    }

    //================  Работа с базой данных ===================

    // Удалить строку
    function delete_row(t)
    {
        r = t.parentNode.parentNode; // текущая строка

        if ( confirm("Удалить строку "+r.cells[3].innerHTML+" ?") )

        // здесь удалить из Базы Данных
        doQuery ("/plan2/armprihod_delete_row", check_delete_row,
                "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
                "&old_arm_name=" + encodeURIComponent(r.cells[3].innerHTML)
        );
    }
    function check_delete_row(reply)
    {
        if (reply.substr(0,1) == '+') // Строка успешно удалена из базы данных
        {
            r.innerHTML = '';
        }
        document.getElementById("hint").innerHTML=reply;
    }


    // Сохранить строку (сохранить данные строки в базе данных)
    function save_row(t)
    {
        if (doc_id.value == "0") {
            alert("Сначала сохраните Шапку документа!");
            return;
        }

        r = t.parentNode.parentNode;

        doQuery ("/plan2/armprihod_save_row", check_save_row,
                "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
                "&old_arm_name=" + encodeURIComponent(r.cells[3].innerHTML)+
                "&arm_name=" + encodeURIComponent(r.cells[0].innerHTML)+
                "&arm_num=" + encodeURIComponent(r.cells[1].innerHTML)
        );

    }
    function check_save_row(reply)
    {
        if (reply.substr(0,1) == '+') // Если успех
        {
            r.cells[3].innerHTML = r.cells[0].innerHTML; // запомнить новое старое значение
            save_row_btn.disabled = true;                // Деактивироавать кнопку сохранения строки
        }

        document.getElementById("hint").innerHTML=reply;
    }

    // Сохранить шапку документа в базе данных
    function save_head()
    {
        doQuery ("/plan2/armprihod_save_head", check_save_head,
                "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
                "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }
    function check_save_head(reply)
    {
        if (reply.substr(0,1) == '+') // Если успех надо найти ИД документа
        {
            if (document.getElementById("doc_id").value == "0") // Надо найти ИД нового документа
            {
                doQuery ("/plan2/armprihod_get_doc_id", check_get_doc_id,
                        "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                        "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
                );
            }

        }
        save_head_btn.disabled = true;
        document.getElementById("hint").innerHTML=reply;
    }
    function check_get_doc_id(reply)
    {
        document.getElementById("doc_id").value = reply;
        erro("ИД нового документа = " + reply);
    }

    // это было для отладки
    function get_doc_id()
    {
           doQuery ("/plan2/armprihod_get_doc_id", to_erro,
                   "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                   "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
           );
    }
    function to_erro(reply)
    {
        erro("reply=" + reply);
    }


    // Изготовить список арматуры для выбора
    function get_arm_names()
    {
        doQuery ("/common/get_spr_names/Арматура", set_arm_names);
    }
    var set_arm_names = function (reply)
    {
        si.innerHTML = reply;
        si.style.visibility = 'hidden';
    };

    // Изготовить список подразделений для выбора
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{data.sd_name}}';
    };

   get_arm_names();
   get_sd_names();

   save_head_btn.disabled = (doc_id.value != "0") ;
</script>
