<a href="/plan2/armprihod" title="" > <-- К списку документов  </a>
<br>
<form action="/plan2/armprihod/update" method="POST" >
<div>
    <table class="form">
        <tr>
            <td><label>Код документа:</label></td>
            <td><input id="doc_id" type="text" name="doc_id" readonly value="{{data.doc_id}}" >{{doc_id}}
                <input id="old_doc_id" type="text" name="old_doc_id" readonly value="{{data.doc_id}}" hidden >
            </td>
        </tr>
        <tr>
            <td><label>Дата и время ГГГГ-ММ-ДД ЧЧ:ММ</label></td>
            <td><input id="dt" type="text" name="dt" value="{{data.dt}}" ></td>
        </tr>
        <tr>
            <td><label>Подразделение:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{data.sd_name}}"></select>
                <input id="sd_rf" type="text" name="sd_rf" readonly value="{{data.sd_rf}}" >
                <input id="old_sd_name" type="text" name="old_sd_name" readonly value="{{data.sd_name}}" hidden >
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" onclick="save_head()">Сохранить шапку</button>
                <button type="button" onclick="get_doc_id()">ИД документа</button>
            </td>
        </tr>
    </table>
</div>

<button type="button" onclick="reload_page(this)">Reload</button>

<div>
    <table id="doc_rows" class="list">
        <tr>
            <td class="list"><b>Арматура</b></td>
            <td class="list"><b>Количество</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr>
            <td class="input" contenteditable onfocus="list_focus(this)" ondblclick="select_arm(this)">{{arm_name}}</td>
            <td class="input right" contenteditable onfocus="num_focus(this)" >{{arm_num}}</td>
            <td><button type="button" onclick="delete_row(this)">Удалить строку</button>
                <button type="button" onclick="save_row(this)">Сохранить строку</button></td>
            <td class="input"  hidden ondblclick="select_arm(this)">{{arm_name}}</td>

            </tr>
        {{/each}}
    </table>
    <button type="button" onclick="add_row()">Добавить строку</button>
</div>
</form>
<br>
<br><br>
<select class='xy td' size="10" name="arm_name" id="arm_name" ondblclick="setval(this)" ></select>
<br>
<br>
<div id="hint" ></div>
<div id="erro" ></div>


<script>
    //pattern='[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}'

    var gcell; // текущая редактируемая ячейка таблицы
    var si = document.getElementById("arm_name"); // Список для выбора изделий (арматуры)
    var tb = document.getElementById("doc_rows"); //

    // Скрыть список при отмене и потере фокуса
    si.onabort = function () { this.style.visibility = 'hidden'; };
    si.onblur = function () { this.style.visibility = 'hidden'; };

    // Выбор из списка, обработка нажатых клавиш
    si.onkeyup = onk;
    function onk(f) {
        if (f.keyCode == 13) setval(this);       // здесь this - это список выбора (select)
      else if (f.keyCode == 27) {this.onblur(); gcell.focus(); }
    }

    function onk_list(f) {
        erro(this.innerHTML + ' '+f.keyCode);
        if (f.keyCode == 13) select_arm(this);       // здесь this - это редактируемая ячейка (gcell)
    }
    function onkdn_list(f) {
        if (f.keyCode != 9) return false;       // здесь this - это редактируемая ячейка (gcell)
    }
    // При получении фокуса на ячейку с выбором из списка
    function list_focus(t) {
       t.onkeyup = onk_list;
       t.onkeydown = onkdn_list;

       erro(t.innerHTML);

    }
    // При получении фокуса на ячейку которую редактируем вручную
    function num_focus(t)
    {
 //       erro('--> Фокус удался = '+t.innerHTML);
        // Выделяем текст в ячейке
        var target = t.firstChild;
        var rng, sel;
        if (document.createRange) {
            rng = document.createRange();
            rng.selectNode(target)
            sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(rng);
        } else {
            var rng = document.body.createTextRange();
            rng.moveToElementText(target);
            rng.select();
        }

        // При потере фокуса снимаем выделение
        t.onblur = function () { window.getSelection().removeAllRanges(); };
    }

    // Обработка значения выбранного из списка
    function setval(t)
    {
//        erro('-->'+t.value);
        gcell.innerHTML = t.value; // Записываем выбранное значение в текущую ячейку таблицы
        si.style.visibility = 'hidden'; // Прячем список

        gcell.focus();
//        gcell.parentNode.cell(1).focus();
//        document.getElementById("dt").focus();
    }

    // Получение координат элемента
    function getCoords(elem) // кроме IE8-
    {
        var box = elem.getBoundingClientRect();

        return {
            top: box.top + pageYOffset,
            left: box.left + pageXOffset
        };
    }

    // Добавить новую пустую строку
    function add_row()
    {
        tb = document.getElementById("doc_rows");

        tb.innerHTML += '<tr> \
                       <td class="input" contenteditable onfocus="list_focus(this)" ondblclick="select_arm(this)"></td> \
                       <td class="input right" contenteditable onfocus="num_focus(this)">0</td> \
                       <td><button type="button" onclick="delete_row(this)">Удалить строку</button> \
                           <button type="button" onclick="save_row(this)">Сохранить строку</button></td> \
                        <td class="input" hidden ondblclick="select_arm(this)"></td>  \
                </tr> ';

        tb.rows[tb.rows.length-1].cells[0].focus();

    }

    // Открыть список для выбора значения
    function select_arm(t)
    {
//        si = document.getElementById("arm_name");
        si.style.visibility = 'visible';    // Делаем список видимым
        si.focus();                         // Переходим в список

//        gcell = t.parentNode.cells[0];      // Находим текущую ячейку
        gcell = t;                          // Запоминаем изменяемую текущую ячейку
        si.value = gcell.innerHTML;         // Перемещаемся в списке к значению изменяемой ячейки

        c = getCoords(gcell);               // Находим координаты изменяемой ячейки

        si.style.top = c.top + 5 + 'px';    // Накладываем список на ячейку
        si.style.left = c.left + 5 + 'px';
    }

    // Удалить строку
    function delete_row(t)
    {
        r = t.parentNode.parentNode;

        // здесь удалить из Базы Данных

        r.innerHTML = '';
    }
    // Сохранить строку (сохранить данные строки в базе данных)
    function save_row(t)
    {
        r = t.parentNode.parentNode;

        doQuery ("/plan2/armprihod_save_row", check_save_row,
                "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
                "&old_arm_name=" + encodeURIComponent(r.cells[3].innerHTML)+
                "&arm_name=" + encodeURIComponent(r.cells[0].innerHTML)+
                "&arm_num=" + encodeURIComponent(r.cells[1].innerHTML)
        );

    }
    function check_save_row(reply)
    {
        if (reply.substr(0,1) == '+') // Если успех запомнить новое старое значение
           r.cells[3].innerHTML = r.cells[0].innerHTML;

        document.getElementById("hint").innerHTML=reply;
    }
    function save_head()
    {
        doQuery ("/plan2/armprihod_save_head", check_save_head,
                "&doc_id=" + encodeURIComponent(document.getElementById("doc_id").value)+
                "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                "&old_sd_name=" + encodeURIComponent(document.getElementById("old_sd_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }
    function check_save_head(reply)
    {
        if (reply.substr(0,1) == '+') // Если успех надо найти ИД документа
        {
            if (document.getElementById("doc_id").value == "0") // Надо найти ИД нового документа
            {
                doQuery ("/plan2/armprihod_get_doc_id", check_get_doc_id,
                        "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                        "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
                );
            }

        }

        document.getElementById("hint").innerHTML=reply;
    }
    function check_get_doc_id(reply)
    {
        document.getElementById("doc_id").value = reply;
        erro("ИД нового документа = " + reply);
    }

    function get_doc_id()
    {
           doQuery ("/plan2/armprihod_get_doc_id", to_erro,
                   "&dt=" + encodeURIComponent(document.getElementById("dt").value)+
                   "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
           );
    }
    function to_erro(reply)
    {
        erro("reply=" + reply);
    }


    // Перезагрузить страницу
    function reload_page(t)
    {
        location.reload(true);
    }


    // Изготовить список арматуры для выбора
    function get_arm_names()
    {
        doQuery ("/common/get_spr_names/Арматура", set_arm_names);
    }
    var set_arm_names = function (reply)
    {
        si.innerHTML = reply;
        si.style.visibility = 'hidden';
    }

    // Изготовить список планов для выбора
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = '{{plan_name}}';
    }

    // Изготовить список подразделений для выбора
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{data.sd_name}}';
    }

   get_arm_names();
   get_sd_names();

</script>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>