<h1>Приход бетона  </h1>
<div><p>Приход бетона <br>
</p></div>
<div>
    <table class="list">
        <tr>
            <td class="list"><b>Код документа</b></td>
            <td class="list"><b>Дата и время</b></td>
            <td class="list"><b>Подразделение</b></td>
            <!--            <td class="list">Кнопки</td> -->
        </tr>
        {{#each data}}
            <tr>
                <td class="list">{{doc_id}}</td>
                <td class="list">{{dt}}</td>
                <td class="list">{{sd_name}}</td>
                <td class="list">
                    <button type="button" onclick="edit_betprihod({{doc_id}})">Изменить</button>
                    <button type="button" onclick="delete_betprihod(this, {{doc_id}})">Удалить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<a href="/plan2/betprihod_addnew" title="Добавить новый документ" > Добавить </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>
    var rr;

    // Удалить документ
    function delete_betprihod(t, doc_id)
    {
        rr = t.parentNode.parentNode;

        if ( confirm("Удалить документ "+doc_id+" ?") )

        // здесь удалить из Базы Данных
            doQuery ("/plan2/betprihod_delete", check_delete_betprihod,
                    "&doc_id=" + encodeURIComponent(doc_id)
            );
    }
    function check_delete_betprihod(reply)
    {
        if (reply.substr(0,1) == '+') // Строка успешно удалена из базы данных
        {
            rr.innerHTML = '';
        }
        document.getElementById("hint").innerHTML=reply;
    }

    // Редактировать документ
    function edit_betprihod(doc_id) {
        location.href = '/plan2/betprihod/'+doc_id;
    }

</script>