<H2>Календарь рабочего времени</H2>

<form action="/plan2/plan_plan_d/update" method="POST" >
    <table class="form">
        <tr>
            <td><label>План-месяц:</label></td>
            <td><select width="100%" size="1" name='plan_name' id='plan_name' value="{{plan_name}}" onchange="on_change_plan_name()"></select>
                <input id="plan_name2" type="text" name="plan_name2" readonly value="{{plan_name}}" hidden >
                <input id="plan_rf" type="text" name="plan_rf" readonly value={{plan_rf}} hidden >
                <input id="old_plan_rf" type="text" name="old_plan_rf" readonly value={{plan_rf}} hidden >
<!--
                <span id="doc_list_form" name="doc_list_form" hidden>plan_plan_dk_s</span>
-->
                <input id="doc_list_form" type="text" name="doc_list_form" readonly value="plan_plan_dk_s" hidden >
            </td>
        </tr>
        <tr>
            <td><label>Подразделение:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{sd_name}}" onchange="on_change_sd_name()"></select>
                <input id="sd_name2" type="text" name="sd_name2" readonly value="{{sd_name}}" hidden >
                <input id="sd_rf" type="text" name="sd_rf" readonly value={{sd_rf}} hidden >
                <input id="old_sd_rf" type="text" name="old_sd_rf" readonly value={{sd_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Предмет:</label></td>
            <td>
                <select width="100%" size="1" name='item_name' id='item_name' value="{{item_name}}" onchange="on_change_item_name()"></select>
                <input id="item_rf" type="text" name="item_rf" readonly value={{item_rf}} hidden >
                <input id="old_item_rf" type="text" name="old_item_rf" readonly value={{item_rf}} hidden >

                <input id="spr_name" type="text" name="spr_name" readonly value="{{spr_name}}" hidden >
            </td>
        </tr>
        <tr>
            <td><label>Количество рабочих часов:</label></td>
            <td><input id="num_plan" type="number" name="num_plan" step="0.001" value={{num_plan}} ></td>
        </tr>
        <!--
        <tr>
            <td><label>Количество на день:</label></td>
            <td><input id="num_day" type="number" name="num_day" step="0.001" value={{num_day}} ></td>
        </tr>
-->
    </table>
    <br>
    Количество рабочих часов в сутки по дням месяца
    <br>
    <table id="table_days" class="form">
        <tr>
            <td><label>1</label></td>
            <td><label>2</label></td>
            <td><label>3</label></td>
            <td><label>4</label></td>
            <td><label>5</label></td>
            <td><label>6</label></td>
            <td><label>7</label></td>
        </tr>
        <tr>
            <td><input class="day" id="np1" type="number" name="np1" step="0.001" value={{np1}} ></td>
            <td><input class="day" id="np2" type="number" name="np2" step="0.001" value={{np2}} ></td>
            <td><input class="day" id="np3" type="number" name="np3" step="0.001" value={{np3}} ></td>
            <td><input class="day" id="np4" type="number" name="np4" step="0.001" value={{np4}} ></td>
            <td><input class="day" id="np5" type="number" name="np5" step="0.001" value={{np5}} ></td>
            <td><input class="day" id="np6" type="number" name="np6" step="0.001" value={{np6}} ></td>
            <td><input class="day" id="np7" type="number" name="np7" step="0.001" value={{np7}} ></td>
        </tr>
        <tr>
            <td><label>8</label></td>
            <td><label>9</label></td>
            <td><label>10</label></td>
            <td><label>11</label></td>
            <td><label>12</label></td>
            <td><label>13</label></td>
            <td><label>14</label></td>
        </tr>
        <tr>
            <td><input class="day" id="np8" type="number" name="np8" step="0.001" value={{np8}} ></td>
            <td><input class="day" id="np9" type="number" name="np9" step="0.001" value={{np9}} ></td>
            <td><input class="day" id="np10" type="number" name="np10" step="0.001" value={{np10}} ></td>
            <td><input class="day" id="np11" type="number" name="np11" step="0.001" value={{np11}} ></td>
            <td><input class="day" id="np12" type="number" name="np12" step="0.001" value={{np12}} ></td>
            <td><input class="day" id="np13" type="number" name="np13" step="0.001" value={{np13}} ></td>
            <td><input class="day" id="np14" type="number" name="np14" step="0.001" value={{np14}} ></td>
        </tr>
        <tr>
            <td><label>15</label></td>
            <td><label>16</label></td>
            <td><label>17</label></td>
            <td><label>18</label></td>
            <td><label>19</label></td>
            <td><label>20</label></td>
            <td><label>21</label></td>
        </tr>
        <tr>
            <td><input class="day" id="np15" type="number" name="np15" step="0.001" value={{np15}} ></td>
            <td><input class="day" id="np16" type="number" name="np16" step="0.001" value={{np16}} ></td>
            <td><input class="day" id="np17" type="number" name="np17" step="0.001" value={{np17}} ></td>
            <td><input class="day" id="np18" type="number" name="np18" step="0.001" value={{np18}} ></td>
            <td><input class="day" id="np19" type="number" name="np19" step="0.001" value={{np19}} ></td>
            <td><input class="day" id="np20" type="number" name="np20" step="0.001" value={{np20}} ></td>
            <td><input class="day" id="np21" type="number" name="np21" step="0.001" value={{np21}} ></td>
        </tr>
        <tr>
            <td><label>22</label></td>
            <td><label>23</label></td>
            <td><label>24</label></td>
            <td><label>25</label></td>
            <td><label>26</label></td>
            <td><label>27</label></td>
            <td><label>28</label></td>
        </tr>
        <tr>
            <td><input class="day" id="np22" type="number" name="np22" step="0.001" value={{np22}} ></td>
            <td><input class="day" id="np23" type="number" name="np23" step="0.001" value={{np23}} ></td>
            <td><input class="day" id="np24" type="number" name="np24" step="0.001" value={{np24}} ></td>
            <td><input class="day" id="np25" type="number" name="np25" step="0.001" value={{np25}} ></td>
            <td><input class="day" id="np26" type="number" name="np26" step="0.001" value={{np26}} ></td>
            <td><input class="day" id="np27" type="number" name="np27" step="0.001" value={{np27}} ></td>
            <td><input class="day" id="np28" type="number" name="np28" step="0.001" value={{np28}} ></td>
        </tr>
        <tr>
            <td><label>29</label></td>
            <td><label>30</label></td>
            <td><label>31</label></td>
        </tr>
        <tr>
            <td><input class="day" id="np29" type="number" name="np29" step="0.001" value={{np29}} ></td>
            <td><input class="day" id="np30" type="number" name="np30" step="0.001" value={{np30}} ></td>
            <td><input class="day" id="np31" type="number" name="np31" step="0.001" value={{np31}} ></td>
        </tr>
    </table>
    <button type="button" onclick="fill_calendar()">Заполнить календарь</button>
    <button id="btn_submit" title="Если кнопка не активна, то нужно сохранить параметры" type="submit" ><b>Сохранить календарь</b></button>
<!--    <button type="button" onclick="paint_num_days()">Дни недели</button> -->
    <br>
    <div id="hint" ></div>
    <div id="erro" ></div>
</form>
<br>
<div class="left" id="sd_params" >
    <br><button type="button" onclick="get_sd_params()"> >> </button>
    Параметры пролёта: <br>
    <table class="form">
        <tr>
            <td><label>Рабочих дней:</label></td>
            <td><input  class="day" id="days_num" type="number" name="days_num" onchange="on_change_sd_params()"></td>
        </tr>
        <tr>
            <td><label>Работников:</label></td>
            <td><input  class="day" id="workers_num" type="number" name="workers_num" onchange="on_change_sd_params()"></td>
        </tr>
        <tr>
            <td><label>Рем.день:</label></td>
            <td><select width="100%" size="1" name='rem_day_name' id='rem_day_name' value="Пятница" onchange="on_change_sd_params()"></select></td>
        </tr>
        <tr>
            <td><label>% раб.времени</label></td>
            <td><input  class="day" id="rem_time_proc" type="number" name="rem_time_proc" title="% рабочего времени в рем.день" step="0.001" value="25" onchange="on_change_sd_params()">%</td>
        </tr>
        <tr>
            <td><label>Часов раб.времени в день</label></td>
            <td><input  class="day" id="working_hours" type="number" name="working_hours" title="Рабочих часов в сутки" step="0.001" value="22" onchange="on_change_sd_params()"></td>
        </tr>
    </table>
    <span id="plan_sd_params"></span>
    <br><button type="button" id="btn_save_sd_params" disabled="true" onclick="save_sd_params()" >Сохранить параметры</button>
    <div id="save_sd_params_error" ></div>
</div>


<script>
    var plan_name = '{{plan_name}}';
    var sd_name = '{{sd_name}}';
    var item_name = '{{item_name}}';
    var dtc = new Date();
    var dtb = PlanFirstDate(plan_name);
    var i = 0;
    var j = 0;
    var k = 0;
    var month_days = PlanLastDay(plan_name);
    var old_plan_rf = '{{old_plan_rf}}';

    var sd_params_exists = false;


    function on_change_plan_name() {
        plan_name = document.getElementById("plan_name").value;
        document.getElementById("plan_name2").value = document.getElementById("plan_name").value;
//        alert(plan_name);
        paint_num_days ();
        get_sd_params();
    }

    function on_change_sd_name() {
        sd_name = document.getElementById("sd_name").value;
        document.getElementById("sd_name2").value = document.getElementById("sd_name").value;
        get_sd_params();
    }

    function on_change_item_name() {
        item_name = document.getElementById("item_name").value;
    }

    // Раскрасить календарь
    function paint_num_days ()
    {
        // dtc = new Date();
        dtb = PlanFirstDate(plan_name);
        dtc = dtb;

        month_days = PlanLastDay(plan_name);

        for (i=1; i<=month_days; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            //              alert(k);
 //           document.getElementById("np"+i).value = k; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            if (k > 1)
                document.getElementById("np"+i).style.backgroundColor = 'white';
            if (k == 0)
                document.getElementById("np"+i).style.backgroundColor = 'khaki'; //  Суббота
            if (k == 1)
                document.getElementById("np"+i).style.backgroundColor = 'lightpink'; //  Воскресенье
        }
        //  Несуществующие дни
        for (i=month_days+1; i<=31; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).value = 0; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).style.backgroundColor = 'lightgrey';
        }
    }


    // Заполнить календарь
    function fill_calendar ()
    {
        if(!confirm("Заполнить календарь? Уверены?")) return;

        var wh = document.getElementById("working_hours").value;
        var rwh = wh * document.getElementById("rem_time_proc").value / 100;

        var rem_day_num = WeekDayNum(document.getElementById("rem_day_name").value);

        dtb = PlanFirstDate(plan_name);
        dtc = dtb;
        month_days = PlanLastDay(plan_name);
        for (i=1; i<=month_days; i++)
        {
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;

            if (k == rem_day_num)
              document.getElementById("np"+i).value = rwh
            else
                document.getElementById("np"+i).value = wh;

            if (k > 1)
                document.getElementById("np"+i).style.backgroundColor = 'white';
            if (k == 0)
                document.getElementById("np"+i).style.backgroundColor = 'khaki'; //  Суббота
            if (k == 1)
                document.getElementById("np"+i).style.backgroundColor = 'lightpink'; //  Воскресенье
        }

        //  Несуществующие дни
        for (i=month_days+1; i<=31; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;

            document.getElementById("np"+i).value = 0; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).style.backgroundColor = 'lightgrey';
        }

        sum_days();
    }

    //
    // При корректировке дней пересчитывать план на месяц.
    //
    function make_table_days()
    {
        for (i=1; i<=31; i++){
            document.getElementById("np"+i).onchange = sum_days;
        }
    }
    make_table_days();

    function sum_days()
    {
        var nps = 0;
        var npj = 0;
        var npd = 0;

        for (j=1; j<=31; j++) {
            npj = document.getElementById("np" + j).value;
            nps = nps + +npj; // Второй плюс преобразует npj в числовой формат
            if (npj > 0) npd = npd + 1;
        }
//        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;
  //      alert(nps);
        document.getElementById("num_plan").value = nps;

        if(document.getElementById("days_num").value != npd) {
            document.getElementById("days_num").value = npd;
            on_change_sd_params()
        }
    }

    //
    // Получение параметров пролёта
    //
    var set_sd_params = function (reply)
    {
        // 2018-07|Пролет 33|22.00|35.00|Четверг|25.000
//        document.getElementById("plan_sd_params").innerHTML = reply;

        sd_params_exists = (reply.substr(0, 6) != 'ОШИБКА');

        var arr_sd = reply.split('|');
        document.getElementById("days_num").value = arr_sd[2];
        document.getElementById("workers_num").value = arr_sd[3];
        document.getElementById("rem_day_name").value = arr_sd[4];
        document.getElementById("rem_time_proc").value = arr_sd[5];
        document.getElementById("plan_rf").innerHTML = arr_sd[6];
        document.getElementById("sd_rf").innerHTML = arr_sd[7];
    };
    function get_sd_params()
    {
        doQuery ("/plan2/get_plan_plan_d_sd_params", set_sd_params,
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }

    //
    // При изменении параметров пролета
    //
    function on_change_sd_params()
    {
        document.getElementById("btn_save_sd_params").disabled = false;
        document.getElementById("btn_submit").disabled = true;
    }

    //
    // При изменении параметров пролета
    //
    function save_sd_params_reply(reply) {
        if (reply == 'OK') {
            document.getElementById("btn_save_sd_params").disabled = true;
            document.getElementById("btn_submit").disabled = false;
        }

        document.getElementById("save_sd_params_error").innerHTML = reply;
    }
    function save_sd_params()
    {
        doQuery ("/plan2/save_sd_params", save_sd_params_reply,
                "&sd_params_exists=" + encodeURIComponent(sd_params_exists)+
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value) +
                "&days_num=" + encodeURIComponent(document.getElementById("days_num").value) +
                "&workers_num=" + encodeURIComponent(document.getElementById("workers_num").value) +
                "&rem_day_name=" + encodeURIComponent(document.getElementById("rem_day_name").value) +
                "&rem_time_proc=" + encodeURIComponent(document.getElementById("rem_time_proc").value)+
                // Если параметров ещё нет и надо вставлять новые, то передаю даты начала и конца плана,
                // если обновление, то они там не понадобятся
                "&dtb=" + encodeURIComponent(plan_name+'-01')+
                "&dte=" + encodeURIComponent(plan_name+'-'+month_days)
        );

    }


    //
    //  ИЗГОТОВЛЕНИЕ СПИСКОВ ДЛЯ ВЫБОРА
    //
    // Изготовить список планов для выбора
    //
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = plan_name;
        document.getElementById("plan_name2").value = plan_name;
//        document.getElementById("plan_name").value = '{{plan_name}}';
    };
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }

    // Изготовить список подразделений для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = sd_name;
        document.getElementById("sd_name2").value = sd_name;
    };
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }

    // Изготовить список ПРЕДМЕТОВ для выбора
    var set_item_names = function (reply)
    {
        document.getElementById("item_name").innerHTML = reply;
        document.getElementById("item_name").value = item_name;
    };
    function get_item_names()
    {
//        doQuery ("/common/get_all_items", set_item_names);
        doQuery ("/common/get_spr_names/{{spr_name}}", set_item_names);
    }

    // Изготовить список дней недели для выбора
    var set_wd_names = function (reply)
    {
        document.getElementById("rem_day_name").innerHTML = reply;
//        document.getElementById("rem_day_name").value = item_name;
    };
    function get_wd_names()
    {
        doQuery ("/common/get_week_days", set_wd_names);
    }


    // Инициализация значений при добавлении НОВОГО календаря
    function init()
    {
        if (plan_name == '') {
            plan_name = toYYYYMM(dtc);
        }
        else {
            document.getElementById("plan_name").disabled = true;
            document.getElementById("sd_name").disabled = true;
        }


        if (item_name == '')
            item_name = 'Рабочие часы';



    }


    get_wd_names();
    init();

//    alert('++{{plan_name}}++');

    get_plan_names();
    get_sd_names();
    get_item_names();

    paint_num_days ();
    setTimeout(get_sd_params, 2000);
 //   document.getElementById("plan_name").disabled = true;
//    setTimeout(get_fc_params, 3000);

</script>