<h1>Календари</h1>
<div><p>Рабочие часы по дням месяца.<br>
</p></div>


<form name="params" action="/plan2/plan_plan_dk_s" method="POST">
<table class="form">
    <tr>
        <td><label>План-месяц:</label></td>
        <td> <select width="100%" size="1" name="plan_name" id="plan_name" value=" " onchange="show_plan()"></select></td>
    </tr>
    <tr>
        <td><label>Пролет:</label></td>
        <td><select width="100%" size="1" name="sd_name" id="sd_name" value=" " onchange="show_plan()"></select></td>
    </tr>
</table>
</form>

<br>
<a href="/plan2/plan_plan_d_addnew/Календари" title="Добавить" > Добавить строку </a>
<br>
<table class="list">
    <tr>
        <td class="list"><label>План</label></td>
        <td class="list"><label>Пролет</label></td>
        <td class="list"><label>Предмет</label></td>
        <td class="list"><label>План</label></td>
        <script>
            var ret = '';
            for(var j = 1; j <=31; j++) {
                document.write('<td class="list"><label>'+j+'</label></td>');
            }
            document.write(ret);
        </script>
        <td class="list">Кнопки</td>
    </tr>
    {{#each data}}
        <tr>
            <td class="list">{{plan_name}}</td>
            <td class="list">{{sd_name}}</td>
            <td class="list">{{item_name}}</td>
            <td class="list">{{num_plan}}</td>
            <td class="list">{{np1}}</td>
            <td class="list">{{np2}}</td>
            <td class="list">{{np3}}</td>
            <td class="list">{{np4}}</td>
            <td class="list">{{np5}}</td>
            <td class="list">{{np6}}</td>
            <td class="list">{{np7}}</td>
            <td class="list">{{np8}}</td>
            <td class="list">{{np9}}</td>
            <td class="list">{{np10}}</td>
            <td class="list">{{np11}}</td>
            <td class="list">{{np12}}</td>
            <td class="list">{{np13}}</td>
            <td class="list">{{np14}}</td>
            <td class="list">{{np15}}</td>
            <td class="list">{{np16}}</td>
            <td class="list">{{np17}}</td>
            <td class="list">{{np18}}</td>
            <td class="list">{{np19}}</td>
            <td class="list">{{np20}}</td>
            <td class="list">{{np21}}</td>
            <td class="list">{{np22}}</td>
            <td class="list">{{np23}}</td>
            <td class="list">{{np24}}</td>
            <td class="list">{{np25}}</td>
            <td class="list">{{np26}}</td>
            <td class="list">{{np27}}</td>
            <td class="list">{{np28}}</td>
            <td class="list">{{np29}}</td>
            <td class="list">{{np30}}</td>
            <td class="list">{{np31}}</td>
            <td class="list">
                <button type="button" onclick="edit_plan_sd({{plan_rf}},{{sd_rf}},{{item_rf}} )">Изменить</button>
                <button type="button" onclick="delete_plan_sd({{plan_rf}},{{sd_rf}},{{item_rf}},'{{plan_name}}','{{sd_name}}','{{item_name}}')">Удалить</button>
            </td>
        </tr>
    {{/each}}
</table>

<a href="/plan2/plan_plan_d_addnew/Календари" title="Добавить" > Добавить строку </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>


<script>


    function delete_plan_sd(plan_rf, sd_rf, item_rf, plan_name, sd_name, item_name)
    {
        var result = confirm("Удалить "+plan_name+'/'+sd_name+'/'+item_name+ " ?");

        if (result) {
            location.href = '/plan2/plan_plan_delete/Календари/'+plan_rf+'/'+sd_rf+'/'+item_rf+'/'+plan_name+'/'+sd_name;
        }
        else
            erro("Оставляю "+plan_name+'/'+sd_name+'/'+item_name+" !");
    }

    function edit_plan_sd(plan_rf,sd_rf,item_rf)
    {
        location.href = '/plan2/plan_plan_d/Календари/'+plan_rf+'/'+sd_rf+'/'+item_rf;
    }


    function show_plan() {
        params.submit();
    }


    // ИЗГОТОВЛЕНИЕ СПИСКОВ ДЛЯ ВЫБОРА

    // Изготовить список планов для выбора
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = '{{data.plan_name}}';
    };
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }

    // Изготовить список пролетов для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{data.sd_name}}';
    };
    function get_sd_names()
    {
        doQuery ("/pro/get_prolet_names", set_sd_names);
    }

    get_plan_names();
    get_sd_names();



</script>