<form action="/plan2/plan_plan_d/update" method="POST" >
    <table class="form">
        <tr>
            <td><label>План-месяц:</label></td>
            <td><select width="100%" size="1" name='plan_name' id='plan_name' value="{{plan_name}}" onchange="change_plan_name()"></select>
                <input id="plan_rf" type="text" name="plan_rf" readonly value={{plan_rf}} hidden >
                <input id="old_plan_rf" type="text" name="old_plan_rf" readonly value={{plan_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Подразделение:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{sd_name}}"></select>
                <input id="sd_rf" type="text" name="sd_rf" readonly value={{sd_rf}} hidden >
                <input id="old_sd_rf" type="text" name="old_sd_rf" readonly value={{sd_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Предмет:</label></td>
            <td>
                <select width="100%" size="1" name='item_name' id='item_name' value="{{item_name}}"></select>
                <input id="item_rf" type="text" name="item_rf" readonly value={{item_rf}} hidden >
                <input id="old_item_rf" type="text" name="old_item_rf" readonly value={{item_rf}} hidden >
                <input id="spr_name" type="text" name="spr_name" readonly value={{spr_name}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Количество на план:</label></td>
            <td><input id="num_plan" type="number" name="num_plan" step="0.001" value={{num_plan}} ></td>
        </tr>
<!--
        <tr>
            <td><label>Количество на день:</label></td>
            <td><input id="num_day" type="number" name="num_day" step="0.001" value={{num_day}} ></td>
        </tr>
-->
    </table>
    <br>
    Количество на день по дням месяца
    <button type="button" onclick="calc_num_days()">Рассчитать</button>
    <button type="button" onclick="make_table_days()">Изготовить таблицу</button>

    <br>
    <table id="table_days" class="form">
        <tr>
            <td><b>1</b></td>
            <td><b>2</b></td>
            <td><b>3</b></td>
            <td><b>4</b></td>
            <td><b>5</b></td>
            <td><b>6</b></td>
            <td><b>7</b></td>
        </tr>
        <tr>
            <td><input class="day" id="np1" type="number" name="np1" step="0.001" value={{np1}} ></td>
            <td><input class="day" id="np2" type="number" name="np2" step="0.001" value={{np2}} ></td>
            <td><input class="day" id="np3" type="number" name="np3" step="0.001" value={{np3}} ></td>
            <td><input class="day" id="np4" type="number" name="np4" step="0.001" value={{np4}} ></td>
            <td><input class="day" id="np5" type="number" name="np5" step="0.001" value={{np5}} ></td>
            <td><input class="day" id="np6" type="number" name="np6" step="0.001" value={{np6}} ></td>
            <td><input class="day" id="np7" type="number" name="np7" step="0.001" value={{np7}} ></td>
        </tr>
        <tr>
            <td><b>8</b></td>
            <td><b>9</b></td>
            <td><b>10</b></td>
            <td><b>11</b></td>
            <td><b>12</b></td>
            <td><b>13</b></td>
            <td><b>14</b></td>
        </tr>
        <tr>
            <td><input class="day" id="np8" type="number" name="np8" step="0.001" value={{np8}} ></td>
            <td><input class="day" id="np9" type="number" name="np9" step="0.001" value={{np9}} ></td>
            <td><input class="day" id="np10" type="number" name="np10" step="0.001" value={{np10}} ></td>
            <td><input class="day" id="np11" type="number" name="np11" step="0.001" value={{np11}} ></td>
            <td><input class="day" id="np12" type="number" name="np12" step="0.001" value={{np12}} ></td>
            <td><input class="day" id="np13" type="number" name="np13" step="0.001" value={{np13}} ></td>
            <td><input class="day" id="np14" type="number" name="np14" step="0.001" value={{np14}} ></td>
        </tr>
        <tr>
            <td><b>15</b></td>
            <td><b>16</b></td>
            <td><b>17</b></td>
            <td><b>18</b></td>
            <td><b>19</b></td>
            <td><b>20</b></td>
            <td><b>21</b></td>
        </tr>
        <tr>
            <td><input class="day" id="np15" type="number" name="np15" step="0.001" value={{np15}} ></td>
            <td><input class="day" id="np16" type="number" name="np16" step="0.001" value={{np16}} ></td>
            <td><input class="day" id="np17" type="number" name="np17" step="0.001" value={{np17}} ></td>
            <td><input class="day" id="np18" type="number" name="np18" step="0.001" value={{np18}} ></td>
            <td><input class="day" id="np19" type="number" name="np19" step="0.001" value={{np19}} ></td>
            <td><input class="day" id="np20" type="number" name="np20" step="0.001" value={{np20}} ></td>
            <td><input class="day" id="np21" type="number" name="np21" step="0.001" value={{np21}} ></td>
        </tr>
        <tr>
            <td><b>22</b></td>
            <td><b>23</b></td>
            <td><b>24</b></td>
            <td><b>25</b></td>
            <td><b>26</b></td>
            <td><b>27</b></td>
            <td><b>28</b></td>
        </tr>
        <tr>
            <td><input class="day" id="np22" type="number" name="np22" step="0.001" value={{np22}} ></td>
            <td><input class="day" id="np23" type="number" name="np23" step="0.001" value={{np23}} ></td>
            <td><input class="day" id="np24" type="number" name="np24" step="0.001" value={{np24}} ></td>
            <td><input class="day" id="np25" type="number" name="np25" step="0.001" value={{np25}} ></td>
            <td><input class="day" id="np26" type="number" name="np26" step="0.001" value={{np26}} ></td>
            <td><input class="day" id="np27" type="number" name="np27" step="0.001" value={{np27}} ></td>
            <td><input class="day" id="np28" type="number" name="np28" step="0.001" value={{np28}} ></td>
        </tr>
        <tr>
            <td><b>29</b></td>
            <td><b>30</b></td>
            <td><b>31</b></td>
        </tr>
        <tr>
            <td><input class="day" id="np29" type="number" name="np29" step="0.001" value={{np29}} ></td>
            <td><input class="day" id="np30" type="number" name="np30" step="0.001" value={{np30}} ></td>
            <td><input class="day" id="np31" type="number" name="np31" step="0.001" value={{np31}} ></td>
        </tr>
    </table>

    <button type="submit" >Сохранить</button>
    <button type="button" onclick="paint_num_days()">Дни недели</button>
    <br>
    <div id="hint" ></div>
    <div id="erro" ></div>
</form>
<br>
<div class="left" id="sd_params" >
<br><button type="button" onclick="get_params()"> >> </button>
  Параметры пролёта: <br>
<table class="form">
    <tr>
        <td><label>Рабочих дней:</label></td>
        <td><b><span id="days_num">11</span></b></td>
    </tr>
    <tr>
        <td><label>Работников:</label></td>
        <td><b><span id="workers_num">12</span></b></td>
    </tr>
    <tr>
        <td><label>Рем.день:</label></td>
        <td><b><span id="rem_day_name">Пятница</span></b></td>
    </tr>
    <tr>
        <td><label>% раб.времени</label></td>
        <td><b><span id="rem_time_proc" title="% рабочего времени в рем.день">13</span>%</b></td>
    </tr>
</table>
<span id="plan_sd_params"></span>
</div>

<div class="left" id="fc_params" >
    <br><button type="button" onclick="get_params()"> >> </button>
    Параметры ЖБИ: <br>
    <table class="form">
        <tr>
            <td><label>Форма (оснастка):</label></td>
            <td><b><span id="form_name">11</span></b></td>
        </tr>
        <tr>
            <td><label>Кол-во ЖБИ в 1 форме:</label></td>
            <td><b><span id="form_fc_num">12</span></b></td>
        </tr>
        <tr>
            <td><label>Время формовки:</label></td>
            <td><b><span id="forming_time">Пятница</span> часов</b></td>
        </tr>
        <tr>
            <td><label>Кол-во форм в пролёте</label></td>
            <td><b><span id="sd_form_num">13</span></b></td>
        </tr>
        <tr>
            <td><label>Макс. кол-во форм в пролёте</label></td>
            <td><b><span id="sd_form_num_max">13</span></b></td>
        </tr>
    </table>
    <span id="plan_fc_params"></span>
</div>



<script>
    var plan_name = '{{plan_name}}';
    var dtc = new Date();
    var dtb = PlanFirstDate(plan_name);
    var i = 0;
    var j = 0;
    var k = 0;
    var month_days = PlanLastDay(plan_name);


    function change_plan_name() {
        plan_name = document.getElementById("plan_name").value;
//        alert(plan_name);
        paint_num_days ();
    }

    // Раскрасить календарь
    function paint_num_days ()
    {
      // dtc = new Date();
        dtb = PlanFirstDate(plan_name);
        dtc = dtb;

        month_days = PlanLastDay(plan_name);

        for (i=1; i<=month_days; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
  //              alert(k);
            document.getElementById("np"+i).value = k; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            if (k > 1)
                document.getElementById("np"+i).style.backgroundColor = 'white';
           if (k == 0)
               document.getElementById("np"+i).style.backgroundColor = 'khaki'; //  Суббота
           if (k == 1)
                document.getElementById("np"+i).style.backgroundColor = 'lightpink'; //  Воскресенье
        }
        //  Несуществующие дни
        for (i=month_days+1; i<=31; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).value = 0; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).style.backgroundColor = 'lightgrey';
        }
    }


    // Расчитать кол-во ЖБИ по дням месяца
    function calc_num_days ()
    {

        if(!confirm("Пересчитать кол-во по дням? Уверены?")) return;

        var nps = document.getElementById("num_plan").value;
        var npd = nps / 31;
        var npds = npd;
        var npr = Math.round(npds);

        for (i=30; i>=1; i--){

//            npd = Math.round(npd);
//            document.getElementById("np"+i).value = npd; //Math.round(npd);
//            npd = Math.round(npd);

            document.getElementById("np"+i).value = npr;
            nps = nps - npr;
            npds = npds + npd - npr;
            npr = Math.round(npds);

//            npd = nps / i;
//            npd = nps / (31-i);
        }
        document.getElementById("np31").value = nps; //Math.round(npd);

        nps = 0;
        for (i=1; i<=31; i++){
            nps = nps + +document.getElementById("np"+i).value;
        }

        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;

//        document.getElementById("np5").value = 12;
    }

    //
    // При корректировке дней пересчитывать план на месяц.
    //
    function make_table_days()
    {
        for (i=1; i<=31; i++){
             document.getElementById("np"+i).onchange = sum_days;

        }
    }
    make_table_days();

    function sum_days()
    {
        nps = 0;
        for (j=1; j<=31; j++) {
           nps = nps + +document.getElementById("np" + j).value;
        }
//        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;
        document.getElementById("num_plan").value = nps;
    }

    //
    // Получение параметров пролёта
    //
    var set_sd_params = function (reply)
    {
        // 2018-07|Пролет 33|22.00|35.00|Четверг|25.000
//        document.getElementById("plan_sd_params").innerHTML = reply;
        var arr_sd = reply.split('|');
        document.getElementById("days_num").innerHTML = arr_sd[2];
        document.getElementById("workers_num").innerHTML = arr_sd[3];
        document.getElementById("rem_day_name").innerHTML = arr_sd[4];
        document.getElementById("rem_time_proc").innerHTML = arr_sd[5];
        document.getElementById("plan_rf").innerHTML = arr_sd[6];
        document.getElementById("sd_rf").innerHTML = arr_sd[7];
    };
    function get_sd_params()
    {
        doQuery ("/plan2/get_plan_plan_d_sd_params", set_sd_params,
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }
    //
    // Получение параметров ЖБИ
    //
    var set_fc_params = function (reply)
    {
        // 467|ПДН-14|1.0|12.00|48|56
        // (data.form_rf+'|'+data.form_name+'|'+data.form_fc_num+'|'+data.forming_time+'|'+data.sd_form_num+'|'+data.sd_form_num_max);
//        document.getElementById("plan_fc_params").innerHTML = reply;
        var arr_fc = reply.split('|');
        document.getElementById("form_name").innerHTML = arr_fc[1];
        document.getElementById("form_fc_num").innerHTML = arr_fc[2];
        document.getElementById("forming_time").innerHTML = arr_fc[3];
        document.getElementById("sd_form_num").innerHTML = arr_fc[4];
        document.getElementById("sd_form_num_max").innerHTML = arr_fc[5];
    };
    function get_fc_params()
    {
        doQuery ("/plan2/get_plan_plan_d_fc_params", set_fc_params,
                "&fc_rf=" + encodeURIComponent(document.getElementById("item_rf").value)+
                "&sd_rf=" + encodeURIComponent(document.getElementById("sd_rf").value)
        );
    }

    //
    //  ИЗГОТОВЛЕНИЕ СПИСКОВ ДЛЯ ВЫБОРА
    //
    // Изготовить список планов для выбора
    //
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = '{{plan_name}}';
    };
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }

    // Изготовить список подразделений для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{sd_name}}';
    };
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }

    // Изготовить список ПРЕДМЕТОВ для выбора
    var set_item_names = function (reply)
    {
        document.getElementById("item_name").innerHTML = reply;
        document.getElementById("item_name").value = '{{item_name}}';
    };
    function get_item_names()
    {
//        doQuery ("/common/get_all_items", set_item_names);
        doQuery ("/common/get_spr_names/{{spr_name}}", set_item_names);
    }
    get_plan_names();
    get_sd_names();
    get_item_names();

    setTimeout(get_sd_params, 2000);
    setTimeout(get_fc_params, 3000);

</script>