<H2>План производства ЖБИ</H2>
План производства ЖБИ согласно календарю рабочего времени.<br>
<br>
<div class="wrapper_1" >
<div class="left" id="form1" >
<form action="/plan2/plan_plan_d/update" method="POST" >
    <table class="form">
        <tr>
            <td><label>План-месяц:</label></td>
            <td><select width="100%" size="1" name='plan_name' id='plan_name' value="{{plan_name}}" onchange="change_plan_name()"></select>
                <input id="plan_name2" type="text" name="plan_name2" readonly value="{{plan_name}}" hidden >
                <input id="plan_rf" type="text" name="plan_rf" readonly value={{plan_rf}} hidden >
                <input id="old_plan_rf" type="text" name="old_plan_rf" readonly value={{plan_rf}} hidden >

                <input id="doc_list_form" type="text" name="doc_list_form" readonly value="plan_plan_d2_s" hidden >
            </td>
        </tr>
        <tr>
            <td><label>Подразделение:</label></td>
            <td><select width="100%" size="1" name='sd_name' id='sd_name' value="{{sd_name}}" onchange="on_change_sd_name()"></select>
                <input id="sd_name2" type="text" name="sd_name2" readonly value="{{sd_name}}" hidden >
                <input id="sd_rf" type="text" name="sd_rf" readonly value={{sd_rf}} hidden >
                <input id="old_sd_rf" type="text" name="old_sd_rf" readonly value={{sd_rf}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Предмет:</label></td>
            <td>
                <select width="100%" size="1" name='item_name' id='item_name' value="{{item_name}}" onchange="on_change_item_name()"></select>
                <input id="item_rf" type="text" name="item_rf" readonly value={{item_rf}} hidden >
                <input id="old_item_rf" type="text" name="old_item_rf" readonly value={{item_rf}} hidden >
                
                <input id="spr_name" type="text" name="spr_name" readonly value={{spr_name}} hidden >
            </td>
        </tr>
        <tr>
            <td><label>Количество ЖБИ на план:</label></td>
            <td><input id="num_plan" type="number" name="num_plan" step="0.5" value={{num_plan}} ></td>
        </tr>
        <!--
        <tr>
            <td><label>Количество на день:</label></td>
            <td><input id="num_day" type="number" name="num_day" step="0.001" value={{num_day}} ></td>
        </tr>
-->
    </table>
    <br>
    Количество ЖБИ по дням месяца
    <button type="button" onclick="calc_num_days()">Рассчитать</button>
    <br>
    <table id="table_days" class="form">
        <tr>
            <td><label>1</label>  <span class="comment" id="h1"></span> </td>
            <td><label>2</label>  <span class="comment" id="h2"></span> </td>
            <td><label>3</label>  <span class="comment" id="h3"></span> </td>
            <td><label>4</label>  <span class="comment" id="h4"></span> </td>
            <td><label>5</label>  <span class="comment" id="h5"></span> </td>
            <td><label>6</label>  <span class="comment" id="h6"></span> </td>
            <td><label>7</label>  <span class="comment" id="h7"></span> </td>
        </tr>
        <tr>
            <td><input class="day" id="np1" type="number" name="np1" step="0.5" value={{np1}} ></td>
            <td><input class="day" id="np2" type="number" name="np2" step="0.5" value={{np2}} ></td>
            <td><input class="day" id="np3" type="number" name="np3" step="0.5" value={{np3}} ></td>
            <td><input class="day" id="np4" type="number" name="np4" step="0.5" value={{np4}} ></td>
            <td><input class="day" id="np5" type="number" name="np5" step="0.5" value={{np5}} ></td>
            <td><input class="day" id="np6" type="number" name="np6" step="0.5" value={{np6}} ></td>
            <td><input class="day" id="np7" type="number" name="np7" step="0.5" value={{np7}} ></td>
        </tr>
        <tr>
            <td><label>8</label>  <span class="comment" id="h8"></span> </td>
            <td><label>9</label>  <span class="comment" id="h9"></span> </td>
            <td><label>10</label>  <span class="comment" id="h10"></span> </td>
            <td><label>11</label>  <span class="comment" id="h11"></span> </td>
            <td><label>12</label>  <span class="comment" id="h12"></span> </td>
            <td><label>13</label>  <span class="comment" id="h13"></span> </td>
            <td><label>14</label>  <span class="comment" id="h14"></span> </td>
        </tr>
        <tr>
            <td><input class="day" id="np8" type="number" name="np8" step="0.5" value={{np8}} ></td>
            <td><input class="day" id="np9" type="number" name="np9" step="0.5" value={{np9}} ></td>
            <td><input class="day" id="np10" type="number" name="np10" step="0.5" value={{np10}} ></td>
            <td><input class="day" id="np11" type="number" name="np11" step="0.5" value={{np11}} ></td>
            <td><input class="day" id="np12" type="number" name="np12" step="0.5" value={{np12}} ></td>
            <td><input class="day" id="np13" type="number" name="np13" step="0.5" value={{np13}} ></td>
            <td><input class="day" id="np14" type="number" name="np14" step="0.5" value={{np14}} ></td>
        </tr>
        <tr>
            <td><label>15</label>  <span class="comment" id="h15"></span> </td>
            <td><label>16</label>  <span class="comment" id="h16"></span> </td>
            <td><label>17</label>  <span class="comment" id="h17"></span> </td>
            <td><label>18</label>  <span class="comment" id="h18"></span> </td>
            <td><label>19</label>  <span class="comment" id="h19"></span> </td>
            <td><label>20</label>  <span class="comment" id="h20"></span> </td>
            <td><label>21</label>  <span class="comment" id="h21"></span> </td>
        </tr>
        <tr>
            <td><input class="day" id="np15" type="number" name="np15" step="0.5" value={{np15}} ></td>
            <td><input class="day" id="np16" type="number" name="np16" step="0.5" value={{np16}} ></td>
            <td><input class="day" id="np17" type="number" name="np17" step="0.5" value={{np17}} ></td>
            <td><input class="day" id="np18" type="number" name="np18" step="0.5" value={{np18}} ></td>
            <td><input class="day" id="np19" type="number" name="np19" step="0.5" value={{np19}} ></td>
            <td><input class="day" id="np20" type="number" name="np20" step="0.5" value={{np20}} ></td>
            <td><input class="day" id="np21" type="number" name="np21" step="0.5" value={{np21}} ></td>
        </tr>
        <tr>
            <td><label>22</label>  <span class="comment" id="h22"></span> </td>
            <td><label>23</label>  <span class="comment" id="h23"></span> </td>
            <td><label>24</label>  <span class="comment" id="h24"></span> </td>
            <td><label>25</label>  <span class="comment" id="h25"></span> </td>
            <td><label>26</label>  <span class="comment" id="h26"></span> </td>
            <td><label>27</label>  <span class="comment" id="h27"></span> </td>
            <td><label>28</label>  <span class="comment" id="h28"></span> </td>
        </tr>
        <tr>
            <td><input class="day" id="np22" type="number" name="np22" step="0.5" value={{np22}} ></td>
            <td><input class="day" id="np23" type="number" name="np23" step="0.5" value={{np23}} ></td>
            <td><input class="day" id="np24" type="number" name="np24" step="0.5" value={{np24}} ></td>
            <td><input class="day" id="np25" type="number" name="np25" step="0.5" value={{np25}} ></td>
            <td><input class="day" id="np26" type="number" name="np26" step="0.5" value={{np26}} ></td>
            <td><input class="day" id="np27" type="number" name="np27" step="0.5" value={{np27}} ></td>
            <td><input class="day" id="np28" type="number" name="np28" step="0.5" value={{np28}} ></td>
        </tr>
        <tr>
            <td><label>29</label>  <span class="comment" id="h29"></span> </td>
            <td><label>30</label>  <span class="comment" id="h30"></span> </td>
            <td><label>31</label>  <span class="comment" id="h31"></span> </td>
        </tr>
        <tr>
            <td><input class="day" id="np29" type="number" name="np29" step="0.5" value={{np29}} ></td>
            <td><input class="day" id="np30" type="number" name="np30" step="0.5" value={{np30}} ></td>
            <td><input class="day" id="np31" type="number" name="np31" step="0.5" value={{np31}} ></td>
        </tr>
    </table>
    <span class="" id="h_sum"></span><br>
    <button id="btn_calc_num_days" type="button" onclick="calc_num_days()">Рассчитать план равномерно по дням на месяц</button><br>
    <button id="btn_calc_num_days" type="button" onclick="calc_num_days3()">Рассчитать план равномерно на указанное кол-во дней</button><br>
    <button id="btn_calc_num_days" type="button" onclick="calc_num_days2()">Рассчитать план по дням по кол-ву форм и времени пропарки</button><br>
    <button id="btn_calc_num_days" type="button" onclick="calc_num_days4()">Рассчитать план по дням равномерно по календарю</button><br>
    <button type="button" onclick="paint_num_days()">Дни недели</button>
    <button id="btn_submit" title="" type="submit" ><b>Сохранить</b></button>

    <br>
    <div id="hint" ></div>
    <div id="erro" ></div>
    <br>
</form>
</div>

<div class="left" id="report33" > Отчёт
    <button type="button" id="btn_calc_report33" onclick="clc_report33(); document.getElementById('tbl33').style.display = 'block'" >Пересчитать</button>
    <button type="button" id="btn_calc_report33" onclick="document.getElementById('tbl33').style.display = 'none';" >Скрыть</button><br>
    <table class="list" id="tbl33">
            <tr>
                <td class="list"><b>ЖБИ</b></td>
                <td class="list" colspan="3"><b>{{data.fc_name}}</b></td>
            </tr>
            <tr>
                <td class="list">Количество ЖБИ:<span class="comment1"> Плановое | Можем сделать | Максимальное</span></td>
                <td class="list right indigo" title="Плановое кол-во ЖБИ">
                    <span id="r_fc_num"></span>
                </td>
                <td class="list right green" title="Можем сделать">
                    <span id="r_month_power"></span>
                </td>
                <td class="list right maroon" title="Максимальное кол-во ЖБИ, которое сможем изготовить при максимальном кол-ве форм и дней">
                    <span id="r_month_power_max"></span>
                </td>
            </tr>
            <tr>
                <td class="list">Кол-во дней: <span class="comment1">Расчётное | Плановое | Календарных дней</span></td>
                <td class="list right indigo" title="Кол-во рабочих дней необходимых для выполнения плана">
                    <span id="r_days_num_clc"></span>
                </td>
                <td class="list right green" title="Плановое кол-во рабочих дней">
                    <span id="r_days_num"></span>
                </td>
                <td class="list right maroon" title="Календарных дней">
                    <span id="r_days_num_cal"></span>
                </td>
            </tr>
            <tr>
                <td class="list">Кол-во человек в смене: <span class="comment1">Расчётное | Фактическое | Максимальное <br> =
                    Итого трудоёмкость / (11 * 2 * Кол-во рабочих дней)</span></td>
                <td class="list right indigo" title="Кол-во рабочих в смене необходимых для выполнения плана">
                    <span id="r_fact_workers_num"></span>(<span id="r_need_workers_num"></span>)
                </td>
                <td class="list right green" title="Фактическое кол-во рабочих в смене">
                    <span id="r_workers_num"></span>
                </td>
                <td class="list right maroon" title="Максимальное кол-во рабочих в смене">
                    <span id="r_max_workers_num"></span>
                </td>
            </tr>
            <tr>
                <td class="list">Количество форм: <span class="comment1">Требуемое | Фактическое | Максимальное </span></td>
                <td class="list right indigo" title="Расчетное кол-во форм необходимых для выполения плана за плановое кол-во дней">
                    <span id="r_need_form_num"></span>(<span id="r_need_form_num_clc"></span>)
                </td>
                <td class="list right green" title="Фактическое, имеющееся кол-во форм">
                    <span id="r_form_num"></span>
                </td>
                <td class="list right maroon" title="Максимально возможное кол-во форм">
                    <span id="r_form_num_max"></span>
                </td>
            </tr>
            <tr>
                <td class="list"><b></b></td>
            </tr>
            <tr>
                <td class="list">Мощность за сутки: <span class="comment1">Плановая | Текущая | Максимальная  <br> = Кол-во форм * КОб
                    (сколько можем изготовить на данном оборудовании)</span></td>
                <td class="list right" title="Сколько ЖБИ должны делать в день, чтобы сделать ПЛАН">
                    <span id="r_day_power_fact1"></span>(<span id="r_day_power_fact"></span>)
                </td>
                <td class="list right green" title="Сколько ЖБИ сможем изготовить при имеющемся кол-ве форм с заданным КОб">
                    <span id="r_day_power"></span>
                </td>
                <td class="list right maroon" title="Сколько ЖБИ сможем изготовить при максимально возможном кол-ве форм с заданным КОб">
                    <span id="r_day_power_max"></span>
                </td>
            </tr>

            <tr>
                <!--
                <td class="list">Мощность за месяц: <span class="comment1">Текущая | Максимальная (с учётом <b><span id="r_days_rem"></span></b>> рем. дней {{data.dw}})</span></td>
                <td class="list right green" title="Это ПЛАН">
                    <span id="r_month_power_fact2"></span>
                </td>
                <td class="list right green" title="Сколько ЖБИ сможем изготовить при имеющемся кол-ве форм с заданным КОб">
                    <span id="r_month_power2"></span>
                </td>
                <td class="list right maroon" title="Сколько ЖБИ сможем изготовить при максимально возможном кол-ве форм с заданным КОб">
                    <span id="r_month_power_max2"></span>
                </td>
-->
            </tr>

            <tr>
                <td class="list"><b></b></td>
            </tr>
            <tr>
                <td class="list">Эффективность <span class="comment1">= (Плановое кол-во / Максимальная мощность за месяц) * 100%</span></td>
                <td class="list right red" title="Эффективность производства в процентах от максимально возможной эффективности">
                    <span id="r_efficiency"></span>%
                </td>
                <td class="list"> </td>
                <td class="list"> </td>
            </tr>
            <tr>
                <td class="list"><b></b></td>
            </tr>
            <tr>
                <td class="list">Трудоёмкость изготовления 1 шт.: <span class="comment1">С учётом коэф-та | Коэф-т | Без учёта коэф-та</span></td>
                <td class="list right" title="Трудоёмкость изготоволения 1 ЖБИ с учётом коэф-та">
                    <span id="r_trk"></span>
                </td>
                <td class="list right blue" title="Коэф-т корректирующий нормативную трудоёмкость">
                    <span id="r_trkk"></span>
                </td>
                <td class="list right" title="Нормативная трудоёмкость">
                    <span id="r_trk0"></span>
                </td>
            </tr>
            <tr>
                <td class="list">Итого трудоёмкость на план(человеко-часов) || Без учёта коэф-та</td>
                <td class="list right indigo" title="Трудоёмкость изготовления планового кол-ва ЖБИ (человеко-часов)">
                    <span id="r_sum_trk"></span>
                </td>
                <td class="list"> </td>
                <td class="list right" title="НОРМАТИВНАЯ трудоёмкость изготовления планового кол-ва ЖБИ (человеко-часов)">
                    <span id="r_sum_trk0"></span>
                </td>
            </tr>
            <tr>
                <td class="list">Количество ЖБИ в одной форме</td>
                <td class="list right" title="Сколько ЖБИ можно формовать в одной форме">
                    <span id="r_ffc_num"></span>
                </td>
                <td class="list"> </td>
                <td class="list"> </td>
            </tr>
            <tr>
                <td class="list">Коэф-т оборачиваемости</td>
                <td class="list right" title="Сколько раз в сутки можем формовать ЖБИ в одной и той же форме">
                    <span id="r_kob"></span>
                </td>
                <td class="list"> </td>
                <td class="list"> </td>
            </tr>
            <tr>

            </tr>
        </table>

</div>
<br>

</div>
<br>
<div class="left" id="sd_params" >
    <table class="form">
        <tr>
            <td>Параметры ПЛАН-ПРОЛЕТ:</td>
            <td><button type="button" title="Перечитать праметры из Базы Данных" onclick="get_sd_params()"> << </button>
                <button type="button" id="btn_save_sd_params" disabled="true" title="Сохранить праметры" onclick="save_sd_params()"> >> </button></td>
        </tr>
        <tr>
            <td><label>Рабочих дней:</label></td>
            <td><input  class="day" id="days_num" type="number" name="days_num" onchange="on_change_sd_params()"></td>
        </tr>
        <tr>
            <td><label>Работников:</label></td>
            <td><input  class="day" id="workers_num" type="number" name="workers_num" onchange="on_change_sd_params()"></td>
        </tr>
        <tr>
            <td><label>Рем.день:</label></td>
            <td><select width="100%" size="1" name='rem_day_name' id='rem_day_name' value="Пятница" onchange="on_change_sd_params()"></select></td>
        </tr>
        <tr>
            <td><label>% раб.времени</label></td>
            <td><input  class="day" id="rem_time_proc" type="number" name="rem_time_proc" title="% рабочего времени в рем.день" step="0.001" value="25" onchange="on_change_sd_params()">%</td>
        </tr>
        <tr>
            <td><label>Часов раб.времени в день</label></td>
            <td><input  class="day" id="working_hours" type="number" name="working_hours" title="Рабочих часов в сутки" step="0.001" value="22" onchange="on_change_sd_params()"></td>
        </tr>
        <tr> <td><span id="save_sd_params_error" ></span></td><td>&nbsp;</td></tr>
    </table>
    <div id="save_sd_params_error" ></div>
</div>

<div class="left" id="form_fc_params" >
    <table class="form">
        <tr>
            <td>Параметры ФОРМА-ЖБИ:</td>
            <td><button type="button" title="Перечитать праметры из Базы Данных" onclick="get_form_fc_params()"> << </button>
            <button type="button" id="btn_save_form_fc_params" disabled="true" title="Сохранить праметры" onclick="save_form_fc_params()" > >> </button></td>
        </tr>
        <tr>
            <td><label>Форма (оснастка):</label></td>
<!--            <td><b><span id="xform_name">xxx</span></b></td> -->
            <td><select width="100%" size="1" name='form_name' id='form_name' value="" onchange="on_change_form_fc_params()"></select></td>
        </tr>
        <tr>
            <td><label>Кол-во ЖБИ в 1 форме:</label></td>
            <td><input  class="day" id="form_fc_num" type="number" name="form_fc_num" onchange="on_change_form_fc_params()"></td>
        </tr>
        <tr>
            <td><label>Время формовки:</label></td>
            <td><input  class="day" id="forming_time" type="number" name="forming_time" onchange="on_change_form_fc_params()"></td>
        </tr>

        <tr> <td><span id="save_form_fc_params_error"></span></td><td>&nbsp; </td></tr>
    </table>
</div>

<div class="left" id="sd_form_params" >
            <table class="form">
            <tr>
            <td>Параметры ПРОЛЕТ-ФОРМА:</td>
            <td><button type="button" title="Перечитать праметры из Базы Данных" onclick="get_sd_form_params()"> << </button>
                <button type="button" id="btn_save_sd_form_params" disabled="true" title="Сохранить праметры" onclick="save_sd_form_params()" > >> </button></td>
        </tr>
        <tr>
            <td><label>Кол-во форм в пролёте</label></td>
            <td><input  class="day" id="sd_form_num" type="number" name="sd_form_num" onchange="on_change_sd_form_params()"></td>
        </tr>
        <tr>
            <td><label>Макс. кол-во форм в пролёте</label></td>
            <td><input  class="day" id="sd_form_num_max" type="number" name="sd_form_num_max" onchange="on_change_sd_form_params()"></td>
        </tr>
        <tr> <td><span id="save_sd_form_params_error"></span></td><td>&nbsp; </td></tr>
    </table>
</div>

<div class="left" id="sd_fc_params" >
    <table class="form">
        <tr>
            <td>Параметры ПРОЛЕТ-ЖБИ:</td>
            <td><button type="button" title="Перечитать праметры из Базы Данных" onclick="get_sd_fc_params()"> << </button>
                <button type="button" id="btn_save_sd_fc_params" disabled="true" title="Сохранить праметры" onclick="save_sd_fc_params()" > >> </button></td>
        </tr>
        <tr>
            <td><label>Трудоёмкость изготовления ЖБИ: </label></td>
            <td><input  class="day" id="trk" type="number" step="0.01" name="trk" onchange="on_change_sd_fc_params()"></td>
        </tr>
        <tr>
            <td><label>Коэф-т к трудоёмкости изготовления ЖБИ: </label></td>
            <td><input  class="day" id="trkk" type="number" step="0.01" name="trkk" onchange="on_change_sd_fc_params()"></td>
        </tr>
<!--
        <tr>
            <td><label>Время формовки ЖБИ: </label></td>
            <td><input  class="day" id="forming_time" type="number" name="forming_time" onchange="on_change_sd_fc_params()"></td>
        </tr>
-->
        <tr>
            <td><label>Коэф-т оборачиваемости: </label></td>
            <td><input  class="day" id="kob" type="number" name="kob" onchange="on_change_sd_fc_params()"></td>
        </tr>
        <tr> <td><span id="save_sd_fc_params_error"></span></td><td>&nbsp; </td></tr>
    </table>
</div>



<script>
    var plan_name = '{{plan_name}}';
    var sd_name = '{{sd_name}}';
    var item_name = '{{item_name}}';
    var form_name = '';
    var dtc = new Date();
    var dtb = PlanFirstDate(plan_name);
    var i = 0;
    var j = 0;
    var k = 0;
    var month_days = PlanLastDay(plan_name);

    // Часов рабочего времени по дням и итого
    var hours = [1,2,3];
    var h_sum = 0;

    var sd_params_exists = false;
    var form_fc_params_exists = false;
    var sd_form_params_exists = false;

    //
    // При изменении ключевых полей
    //
    function on_change_plan_name() {
        plan_name = document.getElementById("plan_name").value;
        document.getElementById("plan_name2").value = document.getElementById("plan_name").value;
//        alert(plan_name);
        paint_num_days ();
        get_sd_params();
    }
    function on_change_sd_name() {
        sd_name = document.getElementById("sd_name").value;
        document.getElementById("sd_name2").value = document.getElementById("sd_name").value;
        get_sd_params();
    }

    function on_change_item_name() {
        item_name = document.getElementById("item_name").value;
    }




    function clc_report33() {

        var day_length = 1000*60*60*24; // Миллисекунд в сутках

        var r_fc_num = document.getElementById("num_plan").value;

        var r_workers_num = Math.round(document.getElementById("workers_num").value*10)/10;

        var r_days_rem = calc_rem_days_num();                                       // Кол-во рем. дней
        var r_days_num = Math.round(document.getElementById("days_num").value) ;    // Кол-во дней плановое

        var r_days_num_cal = PlanLastDay(plan_name);                                // Кол-во дней календарное

        // получить параметры из таблицы Пролет-ЖБИ
        var r_trk = document.getElementById("trk").value;       // Трудоемкость
        var r_trkk = document.getElementById("trkk").value;     // Коэф-т к трудоемкости
        var r_trk0 = r_trk;                                     // Трудоемкость
        r_trk = r_trk * r_trkk;                                 // Трудоемксть с учетом коэф-та
        r_trk = Math.round(r_trk * 100) / 100 ;
        r_trk0 = Math.round(r_trk0 * 100) / 100 ;

        // Итого трудоёмкость на план
        var r_sum_trk0 = r_trk0 * r_fc_num;
        var r_sum_trk = r_trk * r_fc_num;

        // Нужно рабочих в смене = Итого трудоёмкость / (11 * 2 * Кол-во рабочих дней)
        var r_need_workers_num = Math.round(r_sum_trk / (22 * r_days_num)*10) / 10;

        // Округляю до двух цифр после запятой для вывода на экран
        r_sum_trk0 = Math.round(r_sum_trk0 * 100) / 100 ;
        r_sum_trk = Math.round(r_sum_trk * 100) / 100 ;

        // Макс. кол-во рабочих в смене
        var r_max_workers_num = 17;
        // Округляю и проверяю на минимальное и максимальное кол-во рабочих
        var r_fact_workers_num  = Math.round(r_need_workers_num);
        if (r_need_workers_num < 3)  r_fact_workers_num = 3;
        if (r_need_workers_num > r_max_workers_num) r_fact_workers_num = r_max_workers_num;

        var r_form_num = document.getElementById("sd_form_num").value;              // Кол-во форм в пролёте
        var r_form_num_max = document.getElementById("sd_form_num_max").value;      // Макс. кол-во форм в пролёте
        var r_ffc_num = document.getElementById("form_fc_num").value;               // Кол-во ЖБИ в форме
        var r_kob = document.getElementById("kob").value;                           // Коэф-т оборачиваемости

        // мощность за сутки = кол-во форм * кол-во ЖБИ в одной форме * Коэф-т оборачиваемости
        var r_day_power = r_form_num * r_ffc_num * r_kob;
        var r_day_power_fact = r_fc_num / r_days_num;
        r_day_power_fact = Math.round(r_day_power_fact * 100) / 100 ;
        var r_day_power_fact1 = Math.ceil(r_day_power_fact);
        // Макс. мощность за сутки = макс. кол-во форм * кол-во ЖБИ в одной форме * Коэф-т оборачиваемости
        var r_day_power_max = r_form_num_max * r_ffc_num * r_kob;

        var r_rem_time_procent = document.getElementById("rem_time_proc").value / 100.00;
        
        // мощность за месяц с учётом рем.дней,
        // = мощность за день * (кол-во дней - кол-во рем.дней) + (кол-во рем.дней * мощность за день * процент рабочего времени в рем.день)
        var r_month_power =  r_day_power * (r_days_num - r_days_rem) +  (r_days_rem * r_day_power*r_rem_time_procent);
        // Максимальная мощность, берём КАЛЕНДАРНЫЕ ДНИ
        var r_days_rem_cal = r_days_rem; // Неважно, берём рабочие дни или календарные, кол-во четвергов от этого не меняется
        var r_month_power_max =  r_day_power_max * (r_days_num_cal - r_days_rem_cal) +  (r_days_rem_cal * r_day_power_max*r_rem_time_procent);


   //     var r_days_num_clc = r_fc_num / (r_form_num * r_ffc_num * r_kob); // Расчётное кол-во дней без учёта рем дней
        var r_days_num_clc = calc_num_days7(); // Расчётное кол-во дней с учётом рем дней

        r_days_num_clc = Math.round(r_days_num_clc*10)/10 ;

        // Эффективность работы пролёта
        var r_efficiency =  Math.round((r_fc_num / r_month_power_max) * 10000) / 100;

        // Округляю до двух цифр после запятой для вывода на экран
        r_day_power = Math.round(r_day_power * 100) / 100 ;
        r_day_power_max = Math.round(r_day_power_max * 100) / 100 ;
        r_month_power = Math.round(r_month_power * 100) / 100 ;
        r_month_power_max = Math.round(r_month_power_max * 100) / 100 ;

        // Требуется форм на план с учётом рем.дней
        var r_need_form_num_clc = r_fc_num / (r_kob * ((r_days_num - r_rem_time_procent*r_days_rem))) ;
        // Округляю в верхнюю сторону
        var r_need_form_num = Math.ceil(r_need_form_num_clc) ;

        // Форматирую для вывода, оставляю две цифры после запятой
        r_need_form_num_clc = Math.round(r_need_form_num_clc*10) /10 ;
        r_fc_num = Math.round(r_fc_num * 1000) / 1000 ;

        // Если не можем сделать нужное по плану кол-во ЖБИ, то выводим красным цветом (пока ставлю !!!)
        if (r_fc_num > r_month_power) r_fc_num = '(!!!)' + r_fc_num;


        document.getElementById("r_fc_num").innerHTML = r_fc_num;
        document.getElementById("r_month_power").innerHTML = r_month_power;
        document.getElementById("r_month_power_max").innerHTML = r_month_power_max;

        document.getElementById("r_days_num_clc").innerHTML = r_days_num_clc;
        document.getElementById("r_days_num").innerHTML = r_days_num;
        document.getElementById("r_days_num_cal").innerHTML = r_days_num_cal;

        document.getElementById("r_need_workers_num").innerHTML = r_need_workers_num;
        document.getElementById("r_fact_workers_num").innerHTML = r_fact_workers_num;
        document.getElementById("r_workers_num").innerHTML = r_workers_num;
        document.getElementById("r_max_workers_num").innerHTML = r_max_workers_num;



        document.getElementById("r_need_form_num").innerHTML = r_need_form_num;
        document.getElementById("r_need_form_num_clc").innerHTML = r_need_form_num_clc;
        document.getElementById("r_form_num").innerHTML = r_form_num;
        document.getElementById("r_form_num_max").innerHTML = r_form_num_max;

        document.getElementById("r_day_power").innerHTML = r_day_power;
        document.getElementById("r_day_power_fact").innerHTML = r_day_power_fact;
        document.getElementById("r_day_power_fact1").innerHTML = r_day_power_fact1;
        document.getElementById("r_day_power_max").innerHTML = r_day_power_max;

//        document.getElementById("r_month_power_fact2").innerHTML = r_fc_num;
//        document.getElementById("r_month_power2").innerHTML = r_month_power;
//        document.getElementById("r_month_power_max2").innerHTML = r_month_power_max;
//            <td class="list">Мощность за месяц: <span class="comment1">Текущая | Максимальная (с учётом <b>{{data.days_rem}}</b> рем. дней {{data.dw}})</span></td>
//        document.getElementById("r_days_rem").innerHTML = r_days_rem;

        document.getElementById("r_efficiency").innerHTML = r_efficiency;

        document.getElementById("r_trkk").innerHTML = r_trkk;
        document.getElementById("r_trk").innerHTML = r_trk;
        document.getElementById("r_trk0").innerHTML = r_trk0;

        document.getElementById("r_sum_trk").innerHTML = r_sum_trk;
        document.getElementById("r_sum_trk0").innerHTML = r_sum_trk0;

        document.getElementById("r_ffc_num").innerHTML = r_ffc_num;
        document.getElementById("r_kob").innerHTML = r_kob;








    }


    // Возвращает кол-во рем.дней
    function calc_rem_days_num ()
    {
        dtb = PlanFirstDate(plan_name); // Начало месяца
        dte = PlanLastDate(plan_name);  // Конец месяца
        dtc = dtb;                      // Текущее датавремя

        var rem_day = WeekDayNum(document.getElementById("rem_day_name").value);

        dtb = PlanFirstDate(plan_name);
        dtc = dtb;

        month_days = PlanLastDay(plan_name);
        j = 0;
        for (i=1; i<=month_days; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            if (k == rem_day) {
//                document.getElementById("np" + i).style.backgroundColor = 'lavender'; //  Рем.день.
                j++;
            }
        }
        return j;
    }




    //
    // Раскрасить календарь
    //
    function paint_num_days ()
    {
        // dtc = new Date();
        dtb = PlanFirstDate(plan_name);
        dtc = dtb;

        month_days = PlanLastDay(plan_name);

        for (i=1; i<=month_days; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            //              alert(k);
//            document.getElementById("np"+i).value = k; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            if (k > 1)
                document.getElementById("np"+i).style.backgroundColor = 'white';
            if (k == 0)
                document.getElementById("np"+i).style.backgroundColor = 'khaki'; //  Суббота
            if (k == 1)
                document.getElementById("np"+i).style.backgroundColor = 'lightpink'; //  Воскресенье
        }
        //  Несуществующие дни
        for (i=month_days+1; i<=31; i++){
            dtc.setDate(dtc.getDate() + 1);
            k = dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).value = 0; //dtc.getDay(); // (dtb.getDate()+i).getDay;
            document.getElementById("np"+i).style.backgroundColor = 'lightgrey';
        }
    }


    // Расчитать кол-во ЖБИ по дням месяца равномерно
    function calc_num_days ()
    {

        if(!confirm("Пересчитать кол-во по дням? Уверены?")) return;

        var nps = document.getElementById("num_plan").value;
        var npd = nps / 31;
        var npds = npd;
        var npr = Math.round(npds);

        for (i=30; i>=1; i--){

//            npd = Math.round(npd);
//            document.getElementById("np"+i).value = npd; //Math.round(npd);
//            npd = Math.round(npd);

            document.getElementById("np"+i).value = npr;
            nps = nps - npr;
            npds = npds + npd - npr;
            npr = Math.round(npds);

//            npd = nps / i;
//            npd = nps / (31-i);
        }
        document.getElementById("np31").value = nps; //Math.round(npd);

        nps = 0;
        for (i=1; i<=31; i++){
            nps = nps + +document.getElementById("np"+i).value;
        }

        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;

//        document.getElementById("np5").value = 12;
    }

    // Расчитать кол-во ЖБИ равномерно на указанное кол-во дней
    function calc_num_days3 ()
    {

        if(!confirm("Пересчитать кол-во по дням? Уверены?")) return;

        var days_num = document.getElementById("days_num").value;

        var nps = document.getElementById("num_plan").value;
        var npd = nps / days_num;
        var npds = npd;
        var npr = Math.round(npds);

        for (i=1; i<=31; i++){
            document.getElementById("np"+i).value = 0;
        }


        for (i=days_num-1; i>=1; i--){

//            npd = Math.round(npd);
//            document.getElementById("np"+i).value = npd; //Math.round(npd);
//            npd = Math.round(npd);

            document.getElementById("np"+i).value = npr;
            nps = nps - npr;
            npds = npds + npd - npr;
            npr = Math.round(npds);

//            npd = nps / i;
//            npd = nps / (31-i);
        }
        document.getElementById("np"+days_num).value = nps; //Math.round(npd);

        nps = 0;
        for (i=1; i<=31; i++){
            nps = nps + +document.getElementById("np"+i).value;
        }

        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;

//        document.getElementById("np5").value = 12;
    }



    // Расчитать кол-во ЖБИ по дням месяца
    // в ссответствии с кол-вом форм и временем пропарки
    /*
       обнуляем дни

       1. прибавляем к началу времени плана время пропарки, запоминаем датувремя
       2. получаем дату
       3. в полученной дате прибавляем кол-во = кол-во форм * кол-во изделий в одной форме
       4. вычитаем данное кол-во из кол-ва на план, запоминаем сколько осталось сделать

       если изделия или дни не закончились, то  идем к шагу 1
     */
    function calc_num_days2 ()
    {

 //       if(!confirm("Пересчитать кол-во по дням в ссответствии с кол-вом форм и временем пропарки? Уверены?")) return;

        dtb = PlanFirstDate(plan_name); // Начало месяца
        var dte = PlanLastDate(plan_name);  // Конец месяца
        dtc = dtb;                      // Текущее датавремя

        month_days = PlanLastDay(plan_name);


        var fc_num = document.getElementById("num_plan").value;
        var form_num = document.getElementById("sd_form_num").value;
        var form_fc_num = document.getElementById("form_fc_num").value;
        var form_time = document.getElementById("forming_time").value*60*60;
        var rem_time_proc = document.getElementById("rem_time_proc").value;
        var rem_day = WeekDayNum2(document.getElementById("rem_day_name").value);

//        var form_time = new Date(0);

        dte.setDate(dte.getDate() + 1);

        // тут сделать все проверки
        if (form_num == '')
            alert('Не указано количество форм');

//        alert('fc_num='+fc_num+',form_num='+form_num+',form_fc_num='+form_fc_num+',form_time='+form_time);

//        dtc.setSeconds(dtc.getSeconds() + 0.33);
//        alert(dtc);

 //       return;

        for (i=1; i<=31; i++){
            document.getElementById("np"+i).value = 0;
        }


        i = 1;
        s = '';

        // мощность за сутки = кол-во форм * кол-во ЖБИ в одной форме * Коэф-т оборачиваемости
//        var r_day_power = r_form_num * r_ffc_num * r_kob;

        fc_one = form_num * form_fc_num;

        while (dtc < dte && i < 1000000)
        {
            k = dtc.getDate();

            kk = 100;
            if (rem_day == dtc.getDay()) kk = rem_time_proc;

//            document.getElementById("h"+k).innerHTML = dtc.getDay();

            j = Math.min( Math.round(fc_one*kk/100), fc_num);

            document.getElementById("np"+k).value = +document.getElementById("np"+k).value +j;

            fc_num = Math.max(fc_num - Math.round(fc_one*kk/100), 0);

            s = s + k + ',';
            i++;

            dtc.setSeconds(dtc.getSeconds() + form_time);
        }


// alert(fc_one+','+s+','+i+','+fc_num);


        sum_days();

        paint_num_days ();







        return;

        var nps = document.getElementById("num_plan").value;
        var npd = nps / 31;
        var npds = npd;
        var npr = Math.round(npds);

        for (i=30; i>=1; i--){

//            npd = Math.round(npd);
//            document.getElementById("np"+i).value = npd; //Math.round(npd);
//            npd = Math.round(npd);

            document.getElementById("np"+i).value = npr;
            nps = nps - npr;
            npds = npds + npd - npr;
            npr = Math.round(npds);

//            npd = nps / i;
//            npd = nps / (31-i);
        }
        document.getElementById("np31").value = nps; //Math.round(npd);

        nps = 0;
        for (i=1; i<=31; i++){
            nps = nps + +document.getElementById("np"+i).value;
        }

        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;

//        document.getElementById("np5").value = 12;
    }

    // Расчитать кол-во ЖБИ по дням месяца
    // в ссответствии с кол-вом форм и временем пропарки
    // вернуть кол-во дней
     function calc_num_days7 () {

        dtb = PlanFirstDate(plan_name); // Начало месяца
        dte = PlanLastDate(plan_name);  // Конец месяца
        dtc = dtb;                      // Текущее датавремя

        month_days = PlanLastDay(plan_name);


        var fc_num = document.getElementById("num_plan").value;
        var form_num = document.getElementById("sd_form_num").value;
        var form_fc_num = document.getElementById("form_fc_num").value;
        var form_time = document.getElementById("forming_time").value * 60 * 60;
        var rem_time_proc = document.getElementById("rem_time_proc").value;
        var rem_day = WeekDayNum2(document.getElementById("rem_day_name").value);

        dte.setDate(dte.getDate() + 1);

        // тут сделать все проверки
        if (form_num == '')
            alert('Не указано количество форм');

        i = 0;
        fc_one = form_num * form_fc_num;
        while (dtc < dte && fc_num > 0 && i < 1000000) {
            k = dtc.getDate();

            kk = 100; // Процент используемого рабочего времени
            if (rem_day == dtc.getDay()) kk = rem_time_proc;

            fc_num = Math.max(fc_num - Math.round(fc_one * kk / 100), 0);

            i++;
            dtc.setSeconds(dtc.getSeconds() + form_time);
        }
        return i;
    }







        //
    // Расчитать кол-во ЖБИ по дням месяца
    // равномерно по календарю
    //
    function calc_num_days4 ()
    {

        // тут сделать все проверки
        if (+h_sum == 0)
            alert('ОШИБКА: Количество рабочих часов равно нулю.');


        nps = document.getElementById("num_plan").value; // Итого ЖБИ
        var h_sum2 = h_sum;                              // Итого часов, переменная будет меняться, поэтому ввожу локальную переменную
        var nph = nps / h_sum2;                          // Сколько сделаем за час
        npds = 0;
//        npr = Math.round(npds);

        for (i=30; i>=1; i--){

            // Сколько можем сделать за этот день
            npr = Math.round(nph * hours[i-1]);
            document.getElementById("np"+i).value = npr;

            h_sum2 = +h_sum2 - +hours[i-1]; // Осталось часов
            nps = nps - npr;                // Осталось сделать изделий
            nph = nps / h_sum2;             // Столько надо сделать за час

        }
        document.getElementById("np31").value = nps;

        nps = 0;
        for (i=1; i<=31; i++){
            nps = nps + +document.getElementById("np"+i).value;
        }

        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;
    }


























    //
    // При корректировке дней пересчитывать план на месяц.
    //
    function make_table_days()
    {
        for (i=1; i<=31; i++){
            document.getElementById("np"+i).onchange = sum_days;
        }
    }
    make_table_days();
    function sum_days()
    {
        nps = 0;
        for (j=1; j<=31; j++) {
            nps = nps + +document.getElementById("np" + j).value;
        }
//        document.getElementById("hint").innerHTML = "Сумма по дням: " + nps;
        document.getElementById("num_plan").value = nps;
    }

    //
    // Получение параметров пролёта ПЛАН-ПРОЛЕТ
    //
    var set_sd_params = function (reply)
    {
        // 2018-07|Пролет 33|22.00|35.00|Четверг|25.000
//        document.getElementById("plan_sd_params").innerHTML = reply;
        sd_params_exists = (reply.substr(0, 6) != 'ОШИБКА');

        var arr_sd = reply.split('|');
        document.getElementById("days_num").value = arr_sd[2];
        document.getElementById("workers_num").value = arr_sd[3];
        document.getElementById("rem_day_name").value = arr_sd[4];
        document.getElementById("rem_time_proc").value = arr_sd[5];
        document.getElementById("plan_rf").innerHTML = arr_sd[6];
        document.getElementById("sd_rf").innerHTML = arr_sd[7];

        get_form_fc_params(); // Следующие параметры

    };
    function get_sd_params()
    {
        doQuery ("/plan2/get_plan_plan_d_sd_params", set_sd_params,
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }

    //
    // При изменении параметров ПЛАН-ПРОЛЕТ
    //
    function on_change_sd_params()
    {
        document.getElementById("btn_save_sd_params").disabled = false;
        document.getElementById("btn_submit").disabled = true;
    }
    // Сохранение параметров пролёта
    function save_sd_params_reply(reply) {
        if (reply == 'OK') {
            document.getElementById("btn_save_sd_params").disabled = true;
            document.getElementById("btn_submit").disabled = false;
        }
        else
            document.getElementById("save_sd_params_error").innerHTML = reply;
    }
    function save_sd_params()
    {
        doQuery ("/plan2/save_sd_params", save_sd_params_reply,
                "&sd_params_exists=" + encodeURIComponent(sd_params_exists)+
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value) +
                "&days_num=" + encodeURIComponent(document.getElementById("days_num").value) +
                "&workers_num=" + encodeURIComponent(document.getElementById("workers_num").value) +
                "&rem_day_name=" + encodeURIComponent(document.getElementById("rem_day_name").value) +
                "&rem_time_proc=" + encodeURIComponent(document.getElementById("rem_time_proc").value)+
                // Если параметров ещё нет и надо вставлять новые, то передаю даты начала и конца плана,
                // если обновление, то они там не понадобятся
                "&dtb=" + encodeURIComponent(plan_name+'-01')+
                "&dte=" + encodeURIComponent(plan_name+'-'+month_days)
        );
    }


     //
    // При изменении параметров ПРОЛЕТ-ЖБИ
    //
    function on_change_sd_fc_params()
    {
        document.getElementById("btn_save_sd_fc_params").disabled = false;
//        document.getElementById("btn_submit").disabled = true;
    }
    // Сохранение параметров
    function save_sd_fc_params_reply(reply) {
        if (reply == 'OK') {
            document.getElementById("btn_save_sd_fc_params").disabled = true;
//            document.getElementById("btn_submit").disabled = false;
        }
        else
            document.getElementById("save_sd_fc_params_error").innerHTML = reply;
    }
    function save_sd_fc_params()
    {
        doQuery ("/plan2/save_sd_fc_params", save_sd_fc_params_reply,
                "&sd_fc_params_exists=" + encodeURIComponent(sd_fc_params_exists)+
                "&fc_name=" + encodeURIComponent(document.getElementById("item_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value) +
                "&trk=" + encodeURIComponent(document.getElementById("trk").value) +
                "&trkk=" + encodeURIComponent(document.getElementById("trkk").value) +
                "&forming_time=" + encodeURIComponent(document.getElementById("forming_time").value) +
                "&kob=" + encodeURIComponent(document.getElementById("kob").value)
        );
    }




    //
    // При изменении параметров ФОРМА-ЖБИ
    //
    function on_change_form_fc_params()
    {
        document.getElementById("btn_save_form_fc_params").disabled = false;
        document.getElementById("btn_submit").disabled = true;
    }
    // Сохранение параметров ФОРМА-ЖБИ
    function save_form_fc_params_reply(reply) {
        if (reply == 'OK') {
            document.getElementById("btn_save_form_fc_params").disabled = true;
            document.getElementById("btn_submit").disabled = false;
        }
        else
            document.getElementById("save_form_fc_params_error").innerHTML = reply;
    }
    function save_form_fc_params()
    {
        doQuery ("/plan2/save_form_fc_params", save_form_fc_params_reply,
                "&form_fc_params_exists=" + encodeURIComponent(form_fc_params_exists)+
                "&form_name=" + encodeURIComponent(document.getElementById("form_name").value)+
                "&fc_name=" + (document.getElementById("item_name").value) +
                "&fc_num=" + (document.getElementById("form_fc_num").value) +
                "&forming_time=" + encodeURIComponent(document.getElementById("forming_time").value)
        );
    }

    //
    // При изменении параметров ПРОЛЕТ-ФОРМА
    //
    function on_change_sd_form_params()
    {
        document.getElementById("btn_save_sd_form_params").disabled = false;
        document.getElementById("btn_submit").disabled = true;
    }
    // Сохранение параметров ПРОЛЕТ-ФОРМА
    function save_sd_form_params_reply(reply)
    {
        if (reply == 'OK') {
            document.getElementById("btn_save_sd_form_params").disabled = true;
            document.getElementById("btn_submit").disabled = false;
        }
        else
            document.getElementById("save_sd_form_params_error").innerHTML = reply;
    }
    function save_sd_form_params()
    {
        doQuery ("/plan2/save_sd_form_params", save_sd_form_params_reply,
                "&sd_form_params_exists=" + encodeURIComponent(sd_form_params_exists)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value) +
                "&form_name=" + encodeURIComponent(document.getElementById("form_name").value)+
                "&sd_form_num=" + (document.getElementById("sd_form_num").value) +
                "&sd_form_num_max=" + (document.getElementById("sd_form_num_max").value)
        );
    }


    //
    // Получение параметров ФОРМА-ЖБИ
    //
    var set_form_fc_params = function (reply)
    {
        // 467|ПДН-14|1.0|12.00|
        // (data.form_rf+'|'+data.form_name+'|'+data.form_fc_num+'|'+data.forming_time);

        form_fc_params_exists = (reply.substr(0, 6) != 'ОШИБКА');

        var arr_fc = reply.split('|');
        document.getElementById("form_name").value = arr_fc[1];
        document.getElementById("form_fc_num").value = arr_fc[2];
        document.getElementById("forming_time").value = arr_fc[3];

        get_sd_form_params(); // Следующие параметры
    };
    function get_form_fc_params()
    {
        doQuery ("/plan2/get_plan_plan_d_form_fc_params", set_form_fc_params,
                "&fc_rf=" + encodeURIComponent(document.getElementById("item_rf").value)
        );
    }

    //
    // Получение параметров ПРОЛЕТ-ФОРМА
    //
    var set_sd_form_params = function (reply)
    {
        // 48|56
        // (data.form_rf+'|'+data.sd_form_num+'|'+data.sd_form_num_max);

        sd_form_params_exists = (reply.substr(0, 6) != 'ОШИБКА');

        var arr_fc = reply.split('|');
        document.getElementById("sd_form_num").value = arr_fc[0];
        document.getElementById("sd_form_num_max").value = arr_fc[1];

        get_sd_fc_params(); // Следующие параметры
    };
    function get_sd_form_params()
    {
//        alert(document.getElementById("form_name").value + ','+document.getElementById("sd_rf").value);
        doQuery ("/plan2/get_plan_plan_d_sd_form_params", set_sd_form_params,
                "&form_name=" + encodeURIComponent(document.getElementById("form_name").value)+
                "&sd_rf=" + encodeURIComponent(document.getElementById("sd_rf").value)
        );
    }

    //
    // Получение параметров ПРОЛЕТ-ЖБИ
    //
    var set_sd_fc_params = function (reply)
    {
//        alert(reply);
        sd_fc_params_exists = (reply.substr(0, 6) != 'ОШИБКА');

        // trk, forming_time, kob, trkk
        var arr_sd = reply.split('|');

        document.getElementById("trk").value = arr_sd[0];
//        document.getElementById("forming_time").value = arr_sd[1];
        document.getElementById("kob").value = arr_sd[2];
        document.getElementById("trkk").value = arr_sd[3];

        clc_report33(); // Это последний параметр, после него формируем сводный отчёт
    };
    function get_sd_fc_params()
    {
//        alert('get_sd_fc_params');
        doQuery ("/plan2/get_plan_plan_d_sd_fc_params", set_sd_fc_params,
                "&fc_name=" + encodeURIComponent(document.getElementById("item_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }


    //
    // Получение кол-ва рабочих часов по дням месяца
    //
    var set_hours = function (reply)
    {
        hours = reply.split(',');
        for (i=1; i<=31; i++){
            document.getElementById("h"+i).innerHTML = hours[i-1];

            h_sum = +h_sum + +hours[i-1];
        }
        document.getElementById("h_sum").innerHTML = 'Итого рабочих часов по календарю: '+h_sum;
    };
    function get_hours()
    {
        doQuery ("/plan2/get_working_hours", set_hours,
                "&plan_name=" + encodeURIComponent(document.getElementById("plan_name").value)+
                "&sd_name=" + encodeURIComponent(document.getElementById("sd_name").value)
        );
    }

    //
    //  ИЗГОТОВЛЕНИЕ СПИСКОВ ДЛЯ ВЫБОРА
    //
    // Изготовить список планов для выбора
    //
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = plan_name;
        document.getElementById("plan_name2").value = plan_name;
    };
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }

    // Изготовить список подразделений для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = sd_name;
        document.getElementById("sd_name2").value = sd_name;
    };
    function get_sd_names()
    {
        doQuery ("/common/get_spr_names/Подразделения", set_sd_names);
    }

    // Изготовить список ПРЕДМЕТОВ для выбора
    var set_item_names = function (reply)
    {
        document.getElementById("item_name").innerHTML = reply;
        document.getElementById("item_name").value = item_name;
    };
    function get_item_names()
    {
//        doQuery ("/common/get_all_items", set_item_names);
        doQuery ("/common/get_spr_names/{{spr_name}}", set_item_names);
    }

    // Изготовить список дней недели для выбора
    var set_wd_names = function (reply)
    {
        document.getElementById("rem_day_name").innerHTML = reply;
//        document.getElementById("rem_day_name").value = item_name;
    };
    function get_wd_names()
    {
        doQuery ("/common/get_week_days", set_wd_names);
    }

    // Изготовить список ФОРМ для выбора
    var set_form_names = function (reply)
    {
        document.getElementById("form_name").innerHTML = reply;
//        document.getElementById("form_name").value = form_name;
    };
    function get_form_names()
    {
        doQuery ("/common/get_spr_names/ФормыЖБИ", set_form_names);
    }


    // Инициализация значений при добавлении НОВОГО календаря
    function init()
    {
        if (plan_name == '') {
            plan_name = toYYYYMM(dtc);
        }
        else {
            // Запрет кооректировки, убрал, вдруг перекинуть надо в другой пролет
//            document.getElementById("plan_name").disabled = true;
//            document.getElementById("sd_name").disabled = true;
        }
    }

    get_form_names();
    get_wd_names();

    init();

    get_plan_names();
    get_sd_names();
    get_item_names();

    setTimeout(get_sd_params, 1000); // Дальше сделал каскадный вызов, каждый вызывает следующего после окончания работы
//    setTimeout(get_form_fc_params, 1200);
//    setTimeout(get_sd_form_params, 1500); // Не успевает, может не успеть, сделать кнопочки ручного обновления каждого параметра
//    setTimeout(get_sd_fc_params, 1800);

    setTimeout(get_hours, 2000); // Может вообще без календаря обойдемся



</script>