
<h1>План - План {{data.spr_name}}</h1>
<div><p>То, что запланировано сделать в данном месяце и сколько нужно делать каждый день.<br>
</p></div>

<form name="params" action="/plan2/plan_plan_d2_s" method="POST">
<table class="form" >
    <tr>
        <td class="form"><label>Вид плана:</label></td>
        <td class="form">
            <select width="100%" size="1" name='spr_name' id='spr_name' value=" " onchange="show_plan2()"></select>
        </td>
    </tr>
    <tr>
        <td class="form"><label>План-месяц:</label></td>
        <td class="form">
            <select width="100%" size="1" name='plan_name' id='plan_name' value=" " onchange="show_plan2()"></select>
        </td>
    </tr>
    <tr>
        <td class="form"><label>Пролет:</label></td>
        <td class="form">
            <select width="100%" size="1" name='sd_name' id='sd_name' value=" " onchange="show_plan2()"></select>
        </td>
    </tr>
    <tr>
        <td class="form"><label>Часть названия ЖБИ:</label></td>
        <td class="form"><input id="fcb_name" type="text" name="fcb_name" value="" onchange="show_plan()" ></td>
    </tr>
    <tr>
        <td class="form"><label>Количество больше чем </label></td>
        <td class="form"><input id="fcb_num" type="number" name="fcb_num" value="{{data.fcb_num}}" onchange="show_plan2()" ></td>
    </tr>
    <tr>
        <td class="form"></td>
        <td class="form"><button type="button" onclick="show_plan2()">Показать</button></td>
<!--        <td class="form"><button name="button_submit" type="submit" >Вход</button></td> -->
    </tr>
    <tr>
        <td class="form"></td>
        <td class="form">
            <div id="hint" ></div>
            <div id="erro"></div>

        </td>
    </tr>
    <br>
</table>
</form>

<div>
    <a href="/plan2/plan_plan_d_addnew/{{data.spr_name}}" title="Добавить" > Добавить </a>
    <table class="list">
        <tr>
            <!--
         <td class="list"><label>План</label></td>
         <td class="list"><label>Пролет</label></td>
         -->
            <td class="list"><label>Предмет</label></td>
            <td class="list"><label>План</label></td>
            <!--
                        <td class="list"><label>День</label></td>
            -->
            <td class="list"><label>1</label></td>
            <td class="list"><label>2</label></td>
            <td class="list"><label>3</label></td>
            <td class="list"><label>4</label></td>
            <td class="list"><label>5</label></td>
            <td class="list"><label>6</label></td>
            <td class="list"><label>7</label></td>
            <td class="list"><label>8</label></td>
            <td class="list"><label>9</label></td>
            <td class="list"><label>10</label></td>
            <td class="list"><label>11</label></td>
            <td class="list"><label>12</label></td>
            <td class="list"><label>13</label></td>
            <td class="list"><label>14</label></td>
            <td class="list"><label>15</label></td>
            <td class="list"><label>16</label></td>
            <td class="list"><label>17</label></td>
            <td class="list"><label>18</label></td>
            <td class="list"><label>19</label></td>
            <td class="list"><label>20</label></td>
            <td class="list"><label>21</label></td>
            <td class="list"><label>22</label></td>
            <td class="list"><label>23</label></td>
            <td class="list"><label>24</label></td>
            <td class="list"><label>25</label></td>
            <td class="list"><label>26</label></td>
            <td class="list"><label>27</label></td>
            <td class="list"><label>28</label></td>
            <td class="list"><label>29</label></td>
            <td class="list"><label>30</label></td>
            <td class="list"><label>31</label></td>
            <td class="list"><label>Кнопки</label></td>
        </tr>
        {{#each data}}
            <tr>
                <!--
                <td class="list">{{plan_name}}</td>
                <td class="list">{{sd_name}}</td>
-->
                <td class="list">{{item_name}}</td>
                <td class="list">{{num_plan}}</td>
                <!--
                <td class="list">{{num_day}}</td>
-->
                <td class="list">{{np1}}</td>
                <td class="list">{{np2}}</td>
                <td class="list">{{np3}}</td>
                <td class="list">{{np4}}</td>
                <td class="list">{{np5}}</td>
                <td class="list">{{np6}}</td>
                <td class="list">{{np7}}</td>
                <td class="list">{{np8}}</td>
                <td class="list">{{np9}}</td>
                <td class="list">{{np10}}</td>
                <td class="list">{{np11}}</td>
                <td class="list">{{np12}}</td>
                <td class="list">{{np13}}</td>
                <td class="list">{{np14}}</td>
                <td class="list">{{np15}}</td>
                <td class="list">{{np16}}</td>
                <td class="list">{{np17}}</td>
                <td class="list">{{np18}}</td>
                <td class="list">{{np19}}</td>
                <td class="list">{{np20}}</td>
                <td class="list">{{np21}}</td>
                <td class="list">{{np22}}</td>
                <td class="list">{{np23}}</td>
                <td class="list">{{np24}}</td>
                <td class="list">{{np25}}</td>
                <td class="list">{{np26}}</td>
                <td class="list">{{np27}}</td>
                <td class="list">{{np28}}</td>
                <td class="list">{{np29}}</td>
                <td class="list">{{np30}}</td>
                <td class="list">{{np31}}</td>
                <td class="list">
                    <button type="button" id="edit_btn" onclick="edit_plan_sd({{plan_rf}},{{sd_rf}},{{item_rf}} )">Изменить</button>
                    <button type="button" id="delete_btn" onclick="delete_plan_sd({{plan_rf}},{{sd_rf}},{{item_rf}},'{{plan_name}}','{{sd_name}}','{{item_name}}')">Удалить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<a href="/plan2/plan_plan_d_addnew/{{data.spr_name}}" title="Добавить" > Добавить </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

    function delete_plan_sd(plan_rf, sd_rf, item_rf, plan_name, sd_name, item_name) {
        var spr = document.getElementById("spr_name").value;

        if (spr != 'ЖБИ' && spr != 'Календари' )
            return;

        var result = confirm("Удалить "+plan_name+'/'+sd_name+'/'+item_name+ " ?");
        if (result) {
            location.href = '/plan2/plan_plan_delete/{{data.spr_name}}/'+plan_rf+'/'+sd_rf+'/'+item_rf+'/'+plan_name+'/'+sd_name;
        }
        else
            erro("Оставляю "+plan_name+'/'+sd_name+'/'+item_name+" !");
    }

    function edit_plan_sd(plan_rf,sd_rf,item_rf) {

        var spr = document.getElementById("spr_name").value;

        if (spr == 'ЖБИ')
          location.href = '/plan2/plan_plan_d/{{data.spr_name}}/'+plan_rf+'/'+sd_rf+'/'+item_rf;

       if (spr == 'Календари')
           location.href = '/plan2/plan_plan_d/{{data.spr_name}}/'+plan_rf+'/'+sd_rf+'/'+item_rf;

    }


    function show_plan2() {
        params.submit();
    }


    // Изготовить список справочников для выбора
    var set_spr_names = function (reply)
    {
        document.getElementById("spr_name").innerHTML = reply;
        document.getElementById("spr_name").value = '{{data.spr_name}}';

    };
    function get_spr_names()
    {
        doQuery ("/common/get_plan_sprs", set_spr_names);
    }

    // Изготовить список планов для выбора
    var set_plan_names = function (reply)
    {
        document.getElementById("plan_name").innerHTML = reply;
        document.getElementById("plan_name").value = '{{data.plan_name}}';

    };
    function get_plan_names()
    {
        doQuery ("/common/get_spr_names/Планы", set_plan_names);
    }

    // Изготовить список подразделений для выбора
    var set_sd_names = function (reply)
    {
        document.getElementById("sd_name").innerHTML = reply;
        document.getElementById("sd_name").value = '{{data.sd_name}}';
    };
    function get_sd_names()
    {
        doQuery ("/pro/get_prolet_names", set_sd_names);
    }

    function init()
    {
//        if (spr == 'ЖБИ' || spr == 'Календари' ) {
//            document.getElementById("edit_btn").disabled = (spr == 'ЖБИ' || spr == 'Календари' );
//            document.getElementById("edit_btn").disabled = false;
 //       }
    }

    get_spr_names();
    get_plan_names();
    get_sd_names();

    init();

//    var x = window.location.toString().slice(-5);
 //   alert(x);
 //   if (x != '_d2_s') show_plan2(); //params.submit();
//      show_plan2();

</script>