План-План: <a href="/plan2/plan_fact_s/ЖБИ" > ЖБИ </a> |
<a href="/plan2/plan_fact_s/Арматура" > Арматура </a> |
<a href="/plan2/plan_fact_s/Бетон" > Бетон </a>
<h1>План - Факт {{data.spr_name}}</h1>
<div><p>То, что сделано в данном месяце.<br>
</p></div>
<div>
    <table class="list">
        <tr>
            <td class="list"><b>План</b></td>
            <td class="list"><b>Подразделение</b></td>
            <td class="list"><b>Предмет</b></td>
            <td class="list"><b>Дата и время</b></td>
            <td class="list"><b>Количество</b></td>
            <td class="list">Кнопки</td>
        </tr>
        {{#each data}}
            <tr>
                <td class="list">{{plan_name}}</td>
                <td class="list">{{sd_name}}</td>
                <td class="list">{{item_name}}</td>
                <td class="list">{{dt}}</td>
                <td class="list">{{num_fact}}</td>
                <td class="list">
                    <button type="button" onclick="edit_plan_fact({{plan_rf}},{{sd_rf}},{{item_rf}} )">Изменить</button>
                    <button type="button" onclick="delete_plan_fact({{plan_rf}},{{sd_rf}},{{item_rf}},'{{plan_name}}','{{sd_name}}','{{item_name}}')">Удалить</button>
                </td>
            </tr>
        {{/each}}
    </table>
</div>
<a href="/plan2/plan_fact_addnew/{{data.spr_name}}" title="Добавить" > Добавить </a>
<br>
<div id="hint" ></div>
<div id="erro" ></div>

<script>

    function delete_plan_fact(plan_rf, sd_rf, item_rf, plan_name, sd_name, item_name) {

        var result = confirm("Удалить "+plan_name+'/'+sd_name+'/'+item_name+ " ?");
        if (result) {
            location.href = '/plan2/plan_fact_delete/{{data.spr_name}}/'+plan_rf+'/'+sd_rf+'/'+item_rf;
        }
        else
            erro("Оставляю "+plan_name+'/'+sd_name+'/'+item_name+" !");
    }

    function edit_plan_fact(plan_rf,sd_rf,item_rf) {
        location.href = '/plan2/plan_fact/{{data.spr_name}}/'+plan_rf+'/'+sd_rf+'/'+item_rf;
    }

</script>